shin-back/target/
shin-back/catalina.home_IS_UNDEFINED/logs/shinback.24-04-2019.zip
shin-back/catalina.home_IS_UNDEFINED/logs/shinback.25-04-2019.zip
shin-back/catalina.home_IS_UNDEFINED/logs/shinback.30-04-2019.zip
shin-back/catalina.home_IS_UNDEFINED/logs/shinback.log
