@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?78416633');
  src: url('../font/fontello.eot?78416633#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?78416633') format('woff2'),
       url('../font/fontello.woff?78416633') format('woff'),
       url('../font/fontello.ttf?78416633') format('truetype'),
       url('../font/fontello.svg?78416633#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?78416633#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-accion-buscar:before { content: '\e800'; } /* '' */
.icon-accion-descargar:before { content: '\e801'; } /* '' */
.icon-accion-favorito:before { content: '\e802'; } /* '' */
.icon-accion-flash:before { content: '\e803'; } /* '' */
.icon-accion-ocultar:before { content: '\e804'; } /* '' */
.icon-accion-ranking:before { content: '\e805'; } /* '' */
.icon-accion-retirar:before { content: '\e806'; } /* '' */
.icon-accion-subirticket:before { content: '\e807'; } /* '' */
.icon-accion-ver:before { content: '\e808'; } /* '' */
.icon-departamento-abarrotes:before { content: '\e809'; } /* '' */
.icon-departamento-autos:before { content: '\e80a'; } /* '' */
.icon-departamento-bebes:before { content: '\e80b'; } /* '' */
.icon-departamento-bebidas:before { content: '\e80c'; } /* '' */
.icon-departamento-cosmeticos:before { content: '\e80d'; } /* '' */
.icon-departamento-cremeria:before { content: '\e80e'; } /* '' */
.icon-departamento-deportes:before { content: '\e80f'; } /* '' */
.icon-departamento-electronica_1:before { content: '\e810'; } /* '' */
.icon-departamento-electronica:before { content: '\e811'; } /* '' */
.icon-departamento-farmacia:before { content: '\e812'; } /* '' */
.icon-departamento-higiene:before { content: '\e813'; } /* '' */
.icon-departamento-hogar:before { content: '\e814'; } /* '' */
.icon-departamento-jardineria:before { content: '\e815'; } /* '' */
.icon-departamento-limpieza:before { content: '\e816'; } /* '' */
.icon-departamento-mascotas:before { content: '\e817'; } /* '' */
.icon-departamento-ropa:before { content: '\e818'; } /* '' */
.icon-departamento-vinoslicores:before { content: '\e819'; } /* '' */
.icon-finanzas-banco:before { content: '\e81a'; } /* '' */
.icon-finanzas-dinero:before { content: '\e81b'; } /* '' */
.icon-finanzas-moneda-bold:before { content: '\e81c'; } /* '' */
.icon-finanzas-moneda-light:before { content: '\e81d'; } /* '' */
.icon-finanzas-paypal:before { content: '\e81e'; } /* '' */
.icon-multimedia-camara-bold:before { content: '\e81f'; } /* '' */
.icon-multimedia-camara-light:before { content: '\e820'; } /* '' */
.icon-multimedia-telefono:before { content: '\e821'; } /* '' */
.icon-multimedia-video:before { content: '\e822'; } /* '' */
.icon-objeto-buzon:before { content: '\e823'; } /* '' */
.icon-objeto-calendario:before { content: '\e824'; } /* '' */
.icon-objeto-carrito:before { content: '\e825'; } /* '' */
.icon-objeto-catalogo:before { content: '\e826'; } /* '' */
.icon-objeto-correo-bold:before { content: '\e827'; } /* '' */
.icon-objeto-correo-light:before { content: '\e828'; } /* '' */
.icon-objeto-destacado:before { content: '\e829'; } /* '' */
.icon-objeto-productosapp:before { content: '\e82a'; } /* '' */
.icon-objeto-productosescaneados:before { content: '\e82b'; } /* '' */
.icon-objeto-productosusuario:before { content: '\e82c'; } /* '' */
.icon-objeto-reloj-bold:before { content: '\e82d'; } /* '' */
.icon-objeto-reloj-light:before { content: '\e82e'; } /* '' */
.icon-objeto-salvavidas-bold:before { content: '\e82f'; } /* '' */
.icon-objeto-salvavidas-light:before { content: '\e830'; } /* '' */
.icon-objeto-ticket-bold:before { content: '\e831'; } /* '' */
.icon-objeto-ticket-light:before { content: '\e832'; } /* '' */
.icon-simbolo-abajo-bold:before { content: '\e833'; } /* '' */
.icon-simbolo-abajo-light:before { content: '\e834'; } /* '' */
.icon-simbolo-anterior-bold:before { content: '\e835'; } /* '' */
.icon-simbolo-anterior-light:before { content: '\e836'; } /* '' */
.icon-simbolo-arriba-bold:before { content: '\e837'; } /* '' */
.icon-simbolo-arriba-light:before { content: '\e838'; } /* '' */
.icon-simbolo-ayuda:before { content: '\e839'; } /* '' */
.icon-simbolo-circulo:before { content: '\e83a'; } /* '' */
.icon-simbolo-departamento:before { content: '\e83b'; } /* '' */
.icon-simbolo-estadisticas:before { content: '\e83c'; } /* '' */
.icon-simbolo-exito:before { content: '\e83d'; } /* '' */
.icon-simbolo-exitocirculo:before { content: '\e83e'; } /* '' */
.icon-simbolo-flechaabajo-bold:before { content: '\e83f'; } /* '' */
.icon-simbolo-flechaabajo-light:before { content: '\e840'; } /* '' */
.icon-simbolo-flechaarriba-bold:before { content: '\e841'; } /* '' */
.icon-simbolo-flechaarriba-light:before { content: '\e842'; } /* '' */
.icon-simbolo-flechaderecha-bold:before { content: '\e843'; } /* '' */
.icon-simbolo-flechaderecha-light:before { content: '\e844'; } /* '' */
.icon-simbolo-flechaizquierda-bold:before { content: '\e845'; } /* '' */
.icon-simbolo-flechaizquierda-light:before { content: '\e846'; } /* '' */
.icon-simbolo-hamburguesa:before { content: '\e847'; } /* '' */
.icon-simbolo-mas:before { content: '\e848'; } /* '' */
.icon-simbolo-mascirculo:before { content: '\e849'; } /* '' */
.icon-simbolo-notificacion:before { content: '\e84a'; } /* '' */
.icon-simbolo-salir:before { content: '\e84b'; } /* '' */
.icon-simbolo-siguiente-bold:before { content: '\e84c'; } /* '' */
.icon-simbolo-siguiente-light:before { content: '\e84d'; } /* '' */
.icon-simbolo-usuario:before { content: '\e84e'; } /* '' */