<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<link rel="shortcut icon" th:href="@{/resources/home/img/brands/favicon.png}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Usuarios | Shing Shing</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
		<!--     Fonts and icons     -->
	<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" /> <link th:href="@{/resources/assets/build/toastr.css}" rel="stylesheet" /> <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" />
	<!-- CSS Files -->
	<link th:href="@{/resources/assets/css/style-panel.css}" rel="stylesheet" />
	<link th:href="@{/resources/assets/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/assets/css/paper-dashboard.css?v=2.0.1}" rel="stylesheet" />
	<link th:href="@{/resources/assets/css/style-howDo.css}" rel="stylesheet" />
	<link th:href="@{/resources/assets/css/icons/css/fontello.css}" rel="stylesheet" />
	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link th:href="@{/resources/assets/demo/demo.css}" rel="stylesheet" />
	<link th:href="@{/resources/assets/build/toastr.css}" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,700,900&;display=swap" rel="stylesheet" />
	<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
	<link th:href="@{/resources/assets/css/style-howDo.css}" rel="stylesheet" />
</head>

<body class="">
	<div class="wrapper">
		<div class="sidebar" data-color="white">
			<div class="sidebar-wrapper">
				<div th:replace="administrador/fragments/panel::head-side-fragment(logo='panel')"></div>
				<div class="user">
					<div class="photo">
						<img th:src="${item.imgUrl} ? ${item.imgUrl} : ''" alt="..."></img>
					</div>
					<div class="info">
						<a data-toggle="collapse" href="#collapseExample"
							class="collapsed"> <span th:text="${item.nombre}"> <!-- User -->
								<b class="caret"></b>
						</span>
						</a>
						<div class="clearfix"></div>
					</div>
				</div>

				<ul class="nav">

					<li class="active"><a data-toggle="collapse" href="#catalogos"
						aria-expanded="true">
						<i class="nc-icon icon-objeto-catalogo"></i>
							<p>
								Catalogos
							</p>
					</a>
						<div class="collapse show" id="catalogos">
							<ul class="nav">
								<li><a th:href="@{/portal-administrador/cliente/list}">
									<span
									class="sidebar-normal"> Clientes </span>
								</a></li>
								<li><a th:href="@{/portal-administrador/tienda/list}">
										<span
										class="sidebar-normal"> Tiendas </span>
								</a></li>
								<li><a th:href="@{/portal-administrador/departamento/list}">
										<span
										class="sidebar-normal"> Departamentos </span>
								</a></li>
								<li><a th:href="@{/portal-administrador/marca/list}">  <span
										class="sidebar-normal"> Marcas </span>
								</a></li>
								<li><a
									th:href="@{/portal-administrador/producto/list}">  <span
										class="sidebar-normal"> Productos </span>
								</a></li>
							</ul>
						</div></li>
					<li class="active">
					<a data-toggle="collapse" href="#bonificaciones"> <i
							class="nc-icon icon-finanzas-dinero"></i>
							<p>
								Finanzas
							</p>
					</a>

						<div class="collapse show" id="bonificaciones">
							<ul class="nav">
								<li><a
									th:href="@{/portal-administrador/bonificaciones-general}">
										<span
										class="sidebar-normal">General</span>
								</a></li>
								<li><a
									th:href="@{/portal-administrador/mediosBonificacion/list}">
										<span
										class="sidebar-normal"> Medios bonificación </span>
								</a></li>
								<li><a
									th:href="@{/portal-administrador/bonificaciones-depositos}">
										<span
										class="sidebar-normal">Retiros</span>
								</a></li>
								<li><a
									th:href="@{/portal-administrador/bonificaciones-recargas}">
										<span
										class="sidebar-normal">Recargas</span>
								</a></li>
							</ul>
						</div></li>

					<li><a data-toggle="collapse" href="#estadisticas"> <i
							class="nc-icon icon-simbolo-estadisticas"></i>
							<p>
								Estadisticas
							</p>
					</a>
						<div class="collapse show" id="estadisticas">
							<ul class="nav">
								<li><a
									th:href="@{/portal-administrador/estadisticas-general}"> <span class="sidebar-normal">General</span>
								</a></li>
								<li><a
									th:href="@{/portal-administrador/estadisticas-tickets}">  <span
										class="sidebar-normal">Tickets</span>
								</a></li>
								<li><a
									th:href="@{/portal-administrador/estadisticas-marcas}">  <span
										class="sidebar-normal">Marcas</span>
								</a></li>
								<li class="active"><a
									th:href="@{/portal-administrador/estadisticas-usuarios}">  <span
										class="sidebar-normal">Usarios</span>
								</a></li>
							</ul>
						</div></li>
				</ul>
			</div>
		</div>

		<!--  -->
		<div class="main-panel">
			<nav th:replace="administrador/fragments/panel::navbarPanel-fragment(title='Estadisticas')"></nav>
			<!-- <div class="panel-header"></div> -->
			<div class="content">
				<div class="row">
					<div class="col-8">
						<!-- Titulo -->
						<b>
							<h4 class="title-cat">Usuarios</h4>
						</b>
					</div>
					<!-- btn-resumen -->
					<div class="col-4 text-right">
						<a th:href="@{/portal-administrador/producto/report}"
							class="btn btn-secundary" role="button" aria-disabled="true">
							Resumen
						</a>
					</div>


					<!-- Comunidad -->
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-body ">
								<div class="row">
									<div class="col-5 col-md-4">
										<div class="icon-big text-center icon-warning">
											<i class="nc-icon nc-satisfied text-warning"></i>
										</div>
									</div>
									<div class="col-7 col-md-8">
										<div class="numbers">
											<p class="card-category">Comunidad</p>
											<p class="card-title" th:text="${totalUsuarios}">{totalUsuarios}</p>
										</div>
									</div>
								</div>
								<hr />
							</div>

							<div class="card-body">

								<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
									<li id="dayBtn" class="nav-item"><a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
										 role="tab" aria-controls="pills-home" aria-selected="false">Día</a>
									</li>
									<li id="weekBtn" class="nav-item"><a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
										 role="tab" aria-controls="pills-profile" aria-selected="false">Semana</a></li>
									<li id="monthBtn" class="nav-item"><a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
										 role="tab" aria-controls="pills-contact" aria-selected="true">Mes</a></li>
								</ul>
								<div class="tab-content" id="pills-tabContent">
									<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
										<div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
											<div class="chartjs-size-monitor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
												<div style="position: absolute; width: 1000000px; height: 1000000px; left: 0; top: 0"></div>
											</div>
											<div class="chartjs-size-monitor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
												<div style="position: absolute; width: 200%; height: 200%; left: 0; top: 0"></div>
											</div>
										</div>
										<canvas id="usuariosChart" width="636" height="292" class="chartjs-render-monitor" style="display: block; height: 146px; width: 318px;"></canvas>
									</div>
									<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
										<canvas id="usuariosChart" width="826" height="380"></canvas>
									</div>
									<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
										<canvas id="usuariosChart" width="826" height="380"></canvas>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<hr />
								<div class="row">
									<div class="col-sm-7">
										<div class="footer-title">
										</div>
									</div>
									<div class="col-sm-5">
										<div class="pull-right">
											<a href="#usuarios-est"
												role="button" aria-disabled="true"> Ver + </a>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>


					<!-- Edad -->
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-body ">
								<div class="row">
									<div class="col-5 col-md-4">
										<div class="icon-big text-center icon-warning">
											<i class="nc-icon nc-sun-fog-29 text-warning"></i>
										</div>
									</div>
									<div class="col-7 col-md-8">
										<div class="numbers">
											<p class="card-category">Edad</p>
											<p class="card-title" th:text="${promedioEdad}">{promedioEdad}</p>
										</div>
									</div>
								</div>
								<hr />
							</div>

							<div class="card-body">
								<div class="tab-pane fade show active" id="pills-home"
									role="tabpanel" aria-labelledby="pills-home-tab">
									<div class="chartjs-size-monitor"
										style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
										<div class="chartjs-size-monitor-expand"
											style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
											<div
												style="position: absolute; width: 1000000px; height: 1000000px; left: 0; top: 0"></div>
										</div>
										<div class="chartjs-size-monitor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
											<div style="position: absolute; width: 200%; height: 200%; left: 0; top: 0"></div>
										</div>
									</div>
									<canvas id="edadesChart" width="636" height="292" class="chartjs-render-monitor" style="display: block; height: 146px; width: 318px;"></canvas>
								</div>
							</div>
							<div class="card-footer">
								<div class="row">
									<div class="col-sm-7">
										<div class="footer-title">
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>


					<!-- Sexo -->
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-body ">
								<div class="row">
									<div class="col-5 col-md-4">
										<div class="icon-big text-center icon-warning">
											<i class="nc-icon nc-sun-fog-29 text-warning"></i>
										</div>
									</div>
									<div class="col-7 col-md-8">
										<div class="numbers">
											<p class="card-category">Sexo</p>
										</div>
									</div>
								</div>
							</div>
							
							<div class="card-body ">
								<div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
									<div class="chartjs-size-monitor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
										<div style="position: absolute; width: 1000000px; height: 1000000px; left: 0; top: 0"></div>
									</div>
									<div class="chartjs-size-monitor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
										<div style="position: absolute; width: 200%; height: 200%; left: 0; top: 0"></div>
									</div>
								</div>
								<canvas id="generoChart" class="ct-chart ct-perfect-fourth chartjs-render-monitor" width="636" height="418"
								 style="display: block; height: 209px; width: 318px;"></canvas>
							</div>
							<div class="card-footer">
								<div class="row">
									<div class="col-sm-7">
										<div class="footer-title">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>

				<div class="row">

					<!--  Departamentos -->
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="table-responsive">
									<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
										<thead class="">
											<tr>
												<th>ID</th>
												<th>Nombre</th>
												<th class="text-right">Edad</th>
												<th class="text-right">Sexo</th>
												<th class="text-right">Desde</th>
												<th class="text-right">Acciones</th>
											</tr>
										</thead>

										<tbody>
											<th:block th:each="item : ${listaUsuarios}">
												<tr>
													<td th:text="${item.idUsuario}"></td>
													<td th:text="${item.nombre}"></td>
													<td th:text="${item.nombre}"></td>
													<td th:text="${item.nombre}"></td>
													<td th:text="${item.nombre}"></td>
													<td class="text-right">
														<a th:href="@{'/portal-administrador/usuario-detalle/' + ${item.idUsuario}}">
															<button type="button" rel="tooltip" class="btn btn-secondary btn-icon btn-sm " data-original-title=""
															 title="">
																<i class="fa fa-plus"></i>
															</button>
														</a>
													</td>
												</tr>
											</th:block>
										</tbody>

										<!--  
										<tbody>
											<tr>
												<td>u1</td>
												<td>Erick Alvarez</td>
												<td class="text-right">27</td>
												<td class="text-right">Hombre</td>
												<td class="text-right">1 / ene / 2019</td>
												<td class="text-right"><a href="usuario-detalle.html">
														<button type="button" rel="tooltip"
															class="btn btn-secondary btn-icon btn-sm "
															data-original-title="" title="">
															<i class="fa fa-plus"></i>
														</button>
												</a></td>
											</tr>
										</tbody>
										-->
									</table>
									<!-- Paginador 
									<div class="row">
										<div class="col-sm-12 col-md-5">
											<div class="dataTables_info" id="datatable_info"
												role="status" aria-live="polite">Mostrando 1 a 1 de 1
												resultados</div>
										</div>
										<div class="col-sm-12 col-md-7">
											<div class="dataTables_paginate paging_full_numbers"
												id="datatable_paginate">
												<ul class="pagination">
													<li class="paginate_button page-item first disabled"
														id="datatable_first"><a href="#"
														aria-controls="datatable" data-dt-idx="0" tabindex="0"
														class="page-link"> Primero </a></li>
													<li class="paginate_button page-item previous disabled"
														id="datatable_previous"><a href="#"
														aria-controls="datatable" data-dt-idx="1" tabindex="0"
														class="page-link"> Previo </a></li>
													<li class="paginate_button page-item active"><a
														href="#" aria-controls="datatable" data-dt-idx="2"
														tabindex="0" class="page-link"> 1 </a></li>
													<li class="paginate_button page-item next disabled"
														id="datatable_next"><a href="#"
														aria-controls="datatable" data-dt-idx="3" tabindex="0"
														class="page-link"> Siguiente </a></li>
													<li class="paginate_button page-item last disabled"
														id="datatable_last"><a href="#"
														aria-controls="datatable" data-dt-idx="4" tabindex="0"
														class="page-link"> Último </a></li>
												</ul>
											</div>
										</div>
									</div>
									 -->
								</div>
							</div>
						</div>
					</div>


				</div>

			</div>

		</div>

	</div>


	<!--   Core JS Files   -->
	<script th:src="@{/resources/assets/js/core/jquery.min.js}"></script>
	<script th:src="@{/resources/assets/js/core/popper.min.js}"></script>
	<script th:src="@{/resources/assets/js/core/bootstrap.min.js}"></script>
	<script th:src="@{/resources/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
	<script th:src="@{/resources/assets/js/plugins/moment.min.js}"></script>
	<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-switch.js}"></script>
	<!--  Plugin for Sweet Alert -->
	<script th:src="@{/resources/assets/js/plugins/sweetalert2.min.js}"></script>
	<!-- Forms Validations Plugin -->
	<script th:src="@{/resources/assets/js/plugins/jquery.validate.min.js}"></script>
	<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
	<script th:src="@{/resources/assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
	<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-selectpicker.js}"></script>
	<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-datetimepicker.js}"></script>
	<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
	<script th:src="@{/resources/assets/js/plugins/jquery.dataTables.min.js}"></script>
	<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-tagsinput.js}"></script>
	<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
	<script th:src="@{/resources/assets/js/plugins/jasny-bootstrap.min.js}"></script>
	<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
	<script th:src="@{/resources/assets/js/plugins/fullcalendar.min.js}"></script>
	<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
	<script th:src="@{/resources/assets/js/plugins/jquery-jvectormap.js}"></script>
	<!--  Plugin for the Bootstrap Table -->
	<script th:src="@{/resources/assets/js/plugins/nouislider.min.js}"></script>
	<!--  Google Maps Plugin    -->
	<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
	<!-- Chart JS -->
	<script th:src="@{/resources/assets/js/plugins/chartjs.min.js}"></script>
	<!--  Notifications Plugin    -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-notify.js}"></script>
	<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
	<script th:src="@{/resources/assets/js/paper-dashboard.min.js?v=2.0.1}" type="text/javascript"></script>
	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script th:src="@{/resources/assets/demo/demo.js}"></script>
	<script th:src="@{/resources/assets/demo/estadisticas-usuarios-chart.js}"></script>
	<script>
		$(document).ready(function () {
			// Javascript method's body can be found in assets/js/demos.js}
			$('#datatable').DataTable(
				{
					"pagingType": "full_numbers",
					"lengthMenu": [[10, 25, 50, -1],
					[10, 25, 50, "All"]],
					responsive: true,
					language: {
						search: "_INPUT_",
						searchPlaceholder: "Search records",
					}

				});

			$('#dayBtn').click(function () {
				usuariosPorDiaChart();
			});

			$('#weekBtn').click(() => {
				usuariosPorSemanaChart();
			});

			$('#monthBtn').click(() => {
				usuariosPorMesChart()
			});
		});


		function usuariosPorDiaChart() {
			estadisticas_usuarios.usuariosPorDiaChart();
		}

		function usuariosPorSemanaChart() {
			estadisticas_usuarios.usuariosPorSemanaChart();
		}

		function usuariosPorMesChart() {
			estadisticas_usuarios.usuariosPorMesChart();
		}
	</script>
</body>

</html>
<script th:src="@{/resources/assets/build/toastr.min.js}"></script>
<script th:replace="administrador/fragments/form-reporte-problema::script-reporte-problema"></script>
<script th:replace="administrador/fragments/toast::toast-config"></script>
