<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<!-- <link rel="stylesheet" th:hrerf="@{/resources/assets/bootstrap/css/bootstrap.min.css}"/> -->
<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{/resources/assets/img/apple-icon.png}"></link>
<link rel="icon" type="image/png"
	th:href="@{/resources/assets/img/favicon.png}"></link>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Shing Shing / Usuario</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     Fonts and icons     -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
	rel="stylesheet"></link>
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
	rel="stylesheet"></link>
<!-- CSS Files -->
<link th:href="@{/resources/assets/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<link th:href="@{/resources/assets/css/paper-dashboard.css?v=2.0.1}"
	rel="stylesheet"></link>
<link th:href="@{/resources/assets/css/style-panel.css}"
	rel="stylesheet"></link>
<!-- CSS Just for demo purpose, don't include it in your project 
  <link th:href="@{/resources/assets/demo/demo.css}" rel="stylesheet"></link>
  -->
</head>

<body class="">
	<div class="wrapper">
		<div class="sidebar" data-color="white" data-active-color="danger">
			<!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
			<div class="logo">
				<a href="http://www.shingshing.com" class="simple-text logo-no rmal">
					<img th:src="@{/resources/assets/img/brands/ss-complet-orange.svg}" />

				</a>
			</div>
			<div class="sidebar-wrapper sidebar-bkg">
				<div class="user">
					<div class="photo">
						<img th:src="@{/resources/assets/img/faces/ayo-ogunseinde-2.jpg}" />
					</div>
					<div class="info">
						<a data-toggle="collapse" href="#collapseExample"
							class="collapsed"> <span> User <b class="caret"></b>
						</span>
						</a>
						<div class="clearfix"></div>
						<div class="collapse" id="collapseExample">
							<ul class="nav">
								<!-- 
                <li>
                  <a href="#">
                    <span class="sidebar-mini-icon">MP</span>
                    <span class="sidebar-normal">My Profile</span>
                  </a>
                </li>
                -->
								<li><a href="#"> <span class="sidebar-mini-icon">P</span>
										<span class="sidebar-normal">Perfil</span>
								</a></li>
								<li><a href="#"> <span class="sidebar-mini-icon">C</span>
										<span class="sidebar-normal">Configuracion</span>
								</a></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- MENU -->
				<ul class="nav">
					<!-- Las opciones del menu debe ir entre <li></li> -->
					<li><a data-toggle="collapse" href="#catalogos"> <i
							class="nc-icon nc-ruler-pencil"></i>
							<p>
								Catalogos <b class="caret"></b>
							</p>
					</a>
						<div class="collapse " id="catalogos">
							<ul class="nav">
								<li>
									<!--  --> <a th:href="@{/catalogos/departamento/save}"> <span
										class="sidebar-mini-icon">.</span> <span
										class="sidebar-normal"> Departamentos </span>
								</a>
								</li>
								<li><a th:href="@{/catalogos/marca/save}"> <span
										class="sidebar-mini-icon">.</span> <span
										class="sidebar-normal"> Marcas </span>
								</a></li>
								<li><a th:href="@{/catalogos/tienda/save}"> <span
										class="sidebar-mini-icon">.</span> <span
										class="sidebar-normal"> Tiendas </span>
								</a></li>
								<li><a th:href="@{/catalogos/producto/save}"> <span
										class="sidebar-mini-icon">.</span> <span
										class="sidebar-normal"> Productos </span>
								</a></li>
							</ul>
						</div></li>

					<li class="active"><a data-toggle="collapse"
						href="#bonificaciones"> <i class="nc-icon nc-money-coins"></i>
							<p>
								Bonificaciones <b class="caret"></b>
							</p>
					</a>

						<div class="collapse" id="bonificaciones">
							<ul class="nav">
								<li><a th:href="@{/catalogos/marca/save}"> <span
										class="sidebar-mini-icon">.</span> <span
										class="sidebar-normal">General</span>
								</a></li>
								<li class="active"><a
									th:href="@{/catalogos/departamento/save}"> <span
										class="sidebar-mini-icon">.</span> <span
										class="sidebar-normal">Depositos</span>
								</a></li>
								<li><a th:href="@{/catalogos/marca/save}"> <span
										class="sidebar-mini-icon">.</span> <span
										class="sidebar-normal">Medios</span>
								</a></li>
								<li><a th:href="@{/catalogos/marca/save}"> <span
										class="sidebar-mini-icon">.</span> <span
										class="sidebar-normal">Recargas</span>
								</a></li>
							</ul>
						</div></li>

					<li><a data-toggle="collapse" href="#estadisticas"> <i
							class="nc-icon nc-chart-bar-32"></i>
							<p>
								Estadisticas <b class="caret"></b>
							</p>
					</a>
						<div class="collapse " id="estadisticas">
							<ul class="nav">
								<li>
									<!--  --> <a th:href="@{/catalogos/departamento/save}"> <span
										class="sidebar-mini-icon">.</span> <span
										class="sidebar-normal">General</span>
								</a>
								</li>
								<li class="active"><a th:href="@{/catalogos/marca/save}">
										<span class="sidebar-mini-icon">.</span> <span
										class="sidebar-normal">Productos</span>
								</a></li>
								<li><a th:href="@{/catalogos/tienda/save}"> <span
										class="sidebar-mini-icon">.</span> <span
										class="sidebar-normal">Tickets</span>
								</a></li>
								<li><a th:href="@{/catalogos/medioBonificacion/save}">
										<span class="sidebar-mini-icon">.</span> <span
										class="sidebar-normal">Usarios</span>
								</a></li>
							</ul>
						</div></li>


				</ul>
			</div>
		</div>

		<!--  -->
		<div class="main-panel main-bkg">
			<!-- Navbar -->
			<nav
				class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<div class="navbar-minimize">
							<button id="minimizeSidebar" class="btn btn-icon btn-round">
								<i
									class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
								<i
									class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
							</button>
						</div>
						<div class="navbar-toggle">
							<button type="button" class="navbar-toggler">
								<span class="navbar-toggler-bar bar1"></span> <span
									class="navbar-toggler-bar bar2"></span> <span
									class="navbar-toggler-bar bar3"></span>
							</button>
						</div>
						<a class="navbar-brand" href="#pablo">Usuarios</a>
					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navigation" aria-controls="navigation-index"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-bar navbar-kebab"></span> <span
							class="navbar-toggler-bar navbar-kebab"></span> <span
							class="navbar-toggler-bar navbar-kebab"></span>
					</button>
				</div>
			</nav>
			<!-- End Navbar -->
			<!-- <div class="panel-header">
  
  
</div> -->
			<div class="content">
				<div class="row">

					<div class="col-8">
						<!-- ID de usuario -->
						<h3 class="card-title" style="margin-bottom: 4rem;">ID – u1</h3>
					</div>

					<div class="col-4 text-right">
						<a th:href="@{/portal-administrador/producto/report}"
							class="btn btn-primary btn-sm" role="button" aria-disabled="true">
							<i class="fa fa-download"></i> Resumen
						</a>
					</div>

					<div class="col-sm-6 col-md-6 col-lg-4 ">
						<div class="card card-lock text-center">
							<div class="card-header ">
								<img th:src="${rsp.usuario.imgUrl} ? ${rsp.usuario.imgUrl} : ''"
									alt="..."></img>
							</div>
							<div class="card-body">

								<!-- Nombre: th:text="${totalUsuarios}">{totalUsuarios}</p> -->

								<div class="card-title-style" th:text="${rsp.usuario.nombre}">${usuario.nombre}</div>
								<div class="card-title">Nombre Apellido</div>
								<hr />
								<div class="row">
									<div class="col-6">

										<!-- Edad -->
										<div class="card-title-style">Edad</div>
										<div class="" th:text="${rsp.usuario.edad}">27 años</div>
									</div>
									<div class="col-6">

										<!-- Sexo -->
										<div class="card-title-style">Sexo</div>
										<div class="" th:text="${rsp.usuario.sexo}">Hombre</div>
									</div>
								</div>
								<hr />
								<div class="row">
									<div class="col-6">

										<!-- Email -->
										<div class="card-title-style">Email</div>
										<div class="" th:text="${rsp.usuario.correoElectronico}">correo@dom...</div>
									</div>
									<div class="col-6">

										<!-- Telefono -->
										<div class="card-title-style">Teléfono</div>
										<div class="" th:text="${rsp.usuario.telMovil}">5550679875</div>
									</div>
								</div>
								<hr />
								<div class="row">
									<div class="col-6">

										<!-- Codigo Postal -->
										<div class="card-title-style">CP</div>
										<div class="" th:text="${rsp.usuario.codigoPostal}">57800</div>
									</div>
									<div class="col-6">

										<!-- Miembro desde -->
										<div class="card-title-style">Desde</div>
										<div class="" th:text="${rsp.usuario.fechaRegistro}">1/ene/2018</div>
									</div>
								</div>
								<hr />
								<div class="col-6">

									<!-- Registro vía -->
									<div class="card-title-style">Registro vía:</div>
									<div class="" th:text="${rsp.usuario.redSocial}">Facebook</div>
								</div>

							</div>
							<div class="card-footer "></div>
						</div>
					</div>

					<div class="col-sm-6 col-md-8">
						<div class="row">

							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="card card-stats">
									<div class="card-body ">
										<div class="row">
											<div class="col-5 col-md-4">
												<div class="icon-big text-center icon-warning">
													<i class="nc-icon nc-camera-compact text-warning"></i>
												</div>
											</div>
											<div class="col-7 col-md-8">
												<div class="numbers">
													<p class="card-category">Escaneos</p>
													<p class="card-title" th:text="${rsp.tickets}">999</p>
													<p></p>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<hr />
										<div class="row">
											<div class="col-sm-7">
												<div class="footer-title">
													<a href="#"><i class="nc-icon nc-paper"></i></a>
												</div>
											</div>
											<div class="col-sm-5">
												<div class="pull-right">
													<a th:href="@{/portal-administrador/producto/report}"
														class="btn btn-secondary btn-link btn-sm" role="button"
														aria-disabled="true"> Ver + </a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="card card-stats">
									<div class="card-body ">
										<div class="row">
											<div class="col-5 col-md-4">
												<div class="icon-big text-center icon-warning">
													<i class="nc-icon nc-diamond text-warning"></i>
												</div>
											</div>
											<div class="col-7 col-md-8">
												<div class="numbers">
													<p class="card-category">Productos</p>
													<p class="card-title" th:text="${rsp.totalProductos}">999</p>
													<p></p>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer ">
										<hr />
										<div class="stats">
											<i class="fa fa-refresh"></i> Actualizado ahora
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="card card-stats">
									<div class="card-body ">
										<div class="row">
											<div class="col-5 col-md-4">
												<div class="icon-big text-center icon-warning">
													<i class="nc-icon nc-money-coins text-warning"></i>
												</div>
											</div>
											<div class="col-7 col-md-8">
												<div class="numbers">
													<p class="card-category">Retiros</p>
													<p class="card-title" th:text="${rsp.retiros}">999</p>
													<p></p>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<hr />
										<div class="row">
											<div class="col-sm-7">
												<div class="footer-title">
													<a href="#"><i class="nc-icon nc-paper"></i></a>
												</div>
											</div>
											<div class="col-sm-5">
												<div class="pull-right">
													<a th:href="@{/portal-administrador/producto/report}"
														class="btn btn-secondary btn-link btn-sm" role="button"
														aria-disabled="true"> Ver + </a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="card card-stats">
									<div class="card-body ">
										<div class="row">
											<div class="col-5 col-md-4">
												<div class="icon-big text-center icon-warning">
													<i class="nc-icon nc-trophy text-warning"></i>
												</div>
											</div>
											<div class="col-7 col-md-8">
												<div class="numbers">
													<p class="card-category">Bonificación en app</p>
													<p class="card-title" th:text="${rsp.bonificacion}">999</p>
													<p></p>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer ">
										<hr />
										<div class="stats">
											<i class="fa fa-refresh"></i> Actualizado ahora
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card card-chart">
							<div class="card-header">
								<h5 class="card-title">Tiendas</h5>
								<p class="card-category">Bar Chart</p>
							</div>
							<div class="card-body">
								<div class="chartjs-size-monitor"
									style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
									<div class="chartjs-size-monitor-expand"
										style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
										<div
											style="position: absolute; width: 1000000px; height: 1000000px; left: 0; top: 0"></div>
									</div>
									<div class="chartjs-size-monitor-shrink"
										style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
										<div
											style="position: absolute; width: 200%; height: 200%; left: 0; top: 0"></div>
									</div>
								</div>
								<canvas id="tiendasChart" width="1008" height="504"
									class="chartjs-render-monitor"
									style="display: block; height: 252px; width: 504px;"></canvas>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="card card-chart">
							<div class="card-header">
								<h5 class="card-title">Marcas</h5>
								<p class="card-category">5 Principales</p>
							</div>
							<div class="card-body">
								<div class="chartjs-size-monitor"
									style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
									<div class="chartjs-size-monitor-expand"
										style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
										<div
											style="position: absolute; width: 1000000px; height: 1000000px; left: 0; top: 0"></div>
									</div>
									<div class="chartjs-size-monitor-shrink"
										style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
										<div
											style="position: absolute; width: 200%; height: 200%; left: 0; top: 0"></div>
									</div>
								</div>
								<canvas id="marcasChart" width="1008" height="504"
									class="chartjs-render-monitor"
									style="display: block; height: 252px; width: 504px;"></canvas>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="card card-chart">
							<div class="card-header">
								<h5 class="card-title">Departamentos</h5>
								<p class="card-category">5 Principales</p>
							</div>
							<div class="card-body">
								<div class="chartjs-size-monitor"
									style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
									<div class="chartjs-size-monitor-expand"
										style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
										<div
											style="position: absolute; width: 1000000px; height: 1000000px; left: 0; top: 0"></div>
									</div>
									<div class="chartjs-size-monitor-shrink"
										style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
										<div
											style="position: absolute; width: 200%; height: 200%; left: 0; top: 0"></div>
									</div>
								</div>
								<canvas id="deptosChart" width="1008" height="504"
									class="chartjs-render-monitor"
									style="display: block; height: 252px; width: 504px;"></canvas>
							</div>
						</div>
					</div>

					<div class="col-12">
						<hr />
						<!-- ID de usuario -->
						<h3 class="card-title">Históricos</h3>
					</div>

					<div class="col-md-12">
						<div class="card">
							<div class="card-header"></div>
							<div class="card-body">

								<ul class="nav nav-pills mb-3" id="pills-tabContent"
									role="tablist">
									<li class="nav-item"><a class="nav-link active"
										id="pills-home-tab" data-toggle="pill" href="#retiros"
										role="tab" aria-controls="pills-home" aria-selected="true">Retiros</a>
									</li>
									<li class="nav-item"><a class="nav-link"
										id="pills-profile-tab" data-toggle="pill" href="#escaneos"
										role="tab" aria-controls="pills-profile" aria-selected="false">Escaneos</a>
									</li>
								</ul>

								<div class="tab-content" id="pills-tabContent">

									<!-- Retiros -->
									<div class="tab-pane fade show active" id="retiros"
										role="tabpanel" aria-labelledby="pills-home-tab">

										<div class="card-header"></div>
										<div class="toolbar">
											<!--        Here you can write extra buttons/actions for the toolbar              -->
											<form>
												<div class="input-group no-border col-4"
													style="background-color: #f2f2f2 !important;">
													<input type="text" value="" class="form-control"
														placeholder="Busca por ID"
														style="background-color: #f2f2f2 !important;" />
													<div class="input-group-append">
														<div class="input-group-text"
															style="background-color: #f2f2f2 !important;">
															<i class="nc-icon nc-zoom-split"></i>
														</div>
													</div>
												</div>
											</form>
										</div>
										<div class="card-body">
											<div class="table-responsive">
												<table id="datatableRetiros"
													class="table table-striped table-bordered" cellspacing="0"
													width="100%">
													<thead class="">
														<tr>
															<th>ID</th>
															<th>Tipo</th>
															<th>Fecha</th>
															<th class="text-right">Importe</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:each="item : ${rsp.listaTickets}">
															<tr>
																<td th:text="${item.idTicket}"><a href="#">db4122019/1</a></td>
																<td th:text="${item.idTicket}">Bancaria</td>
																<td th:text="${item.idTicket}">4 / dic / 2019</td>
																<td class="text-right" th:text="${item.idTicket}">$
																	500.00</td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
										</div>
									</div>

									<!-- Escaneos -->
									<div class="tab-pane fade show active" id="escaneos"
										role="tabpanel" aria-labelledby="pills-profile-tab">

										<div class="card-header"></div>
										<div class="toolbar">
											<!-- Here you can write extra buttons/actions for the toolbar -->
											<form>
												<div class="input-group no-border col-4"
													style="background-color: #f2f2f2 !important;">
													<input type="text" value="" class="form-control"
														placeholder="Busca por ID"
														style="background-color: #f2f2f2 !important;" />
													<div class="input-group-append">
														<div class="input-group-text"
															style="background-color: #f2f2f2 !important;">
															<i class="nc-icon nc-zoom-split"></i>
														</div>
													</div>
												</div>
											</form>
										</div>
										<div class="card-body">
											<div class="table-responsive">
												<table id="datatableTickets"
													class="table table-striped table-bordered" cellspacing="0"
													width="100%">
													<thead class="">
														<tr>
															<th>ID</th>
															<th>Tienda</th>
															<th>Fecha</th>
															<th>Productos</th>
															<th class="text-right">Bonificación</th>
															<th class="text-right">Acciones</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:each="item : ${rsp.listaTickets}">
															<tr>
																<td th:text="${item.idTicket}"><a>db4122019/1</a></td>
																<td th:text="${item.nombreTienda}">Grupo Waltmart</td>
																<td th:text="${item.formatFecha}">4 / dic / 2019</td>
																<td th:text="${item.totalProductos}">99</td>
																<td class="text-right" th:text="${item.total}">$
																	500.00</td>
																<td class="text-right">
																	<button type="button" rel="tooltip"
																		class="btn btn-link btn-icon btn-sm "
																		data-original-title="" title="">
																		<i class="fa fa-camera"></i>
																	</button>
																	<button type="button" rel="tooltip"
																		class="btn btn-secondary btn-icon btn-sm "
																		data-original-title="" title="">+</button>
																</td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>



				</div>

			</div>


			<footer class="footer footer-black  footer-white ">
				<div class="container-fluid"></div>
			</footer>
		</div>
	</div>
	<!--   Core JS Files   -->
	<script th:src="@{/resources/assets/js/core/jquery.min.js}"></script>
	<script th:src="@{/resources/assets/js/core/popper.min.js}"></script>
	<script th:src="@{/resources/assets/js/core/bootstrap.min.js}"></script>
	<script
		th:src="@{/resources/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
	<script th:src="@{/resources/assets/js/plugins/moment.min.js}"></script>
	<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-switch.js}"></script>
	<!--  Plugin for Sweet Alert -->
	<script th:src="@{/resources/assets/js/plugins/sweetalert2.min.js}"></script>
	<!-- Forms Validations Plugin -->
	<script th:src="@{/resources/assets/js/plugins/jquery.validate.min.js}"></script>
	<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
	<script
		th:src="@{/resources/assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
	<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
	<script
		th:src="@{/resources/assets/js/plugins/bootstrap-selectpicker.js}"></script>
	<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
	<script
		th:src="@{/resources/assets/js/plugins/bootstrap-datetimepicker.js}"></script>
	<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
	<script
		th:src="@{/resources/assets/js/plugins/jquery.dataTables.min.js}"></script>
	<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-tagsinput.js}"></script>
	<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
	<script th:src="@{/resources/assets/js/plugins/jasny-bootstrap.min.js}"></script>
	<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
	<script th:src="@{/resources/assets/js/plugins/fullcalendar.min.js}"></script>
	<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
	<script th:src="@{/resources/assets/js/plugins/jquery-jvectormap.js}"></script>
	<!--  Plugin for the Bootstrap Table -->
	<script th:src="@{/resources/assets/js/plugins/nouislider.min.js}"></script>
	<!--  Google Maps Plugin    -->
	<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
	<!-- Chart JS -->
	<script th:src="@{/resources/assets/js/plugins/chartjs.min.js}"></script>
	<!--  Notifications Plugin    -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-notify.js}"></script>
	<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
	<script th:src="@{/resources/assets/js/paper-dashboard.min.js?v=2.0.1}"
		type="text/javascript"></script>
	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script th:src="@{/resources/assets/demo/estadisticas-usuario-detalle-chart.js}"></script>
	
	<script>
		$(document).ready(function() {
			$('#datatableRetiros').DataTable({
				"pagingType" : "full_numbers",
				"lengthMenu" : [ [ 10, 25, 50, -1 ], [ 10, 25, 50, "All" ] ],
				responsive : true,
				language : {
					search : "_INPUT_",
					searchPlaceholder : "Search records",
				}

			});

			$('#datatableTickets').DataTable({
				"pagingType" : "full_numbers",
				"lengthMenu" : [ [ 10, 25, 50, -1 ], [ 10, 25, 50, "All" ] ],
				responsive : true,
				language : {
					search : "_INPUT_",
					searchPlaceholder : "Search records",
				}

			});
		});
	</script>
</body>

</html>