<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<link rel="shortcut icon" th:href="@{/resources/home/img/brands/favicon.png}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Shing-Shing - General</title>
<meta
  content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
  name='viewport' />
<!--     Fonts and icons     -->
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
<link th:href="@{/resources/assets/build/toastr.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200}" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" />
<!-- CSS Files -->
<link th:href="@{/resources/assets/css/style-panel.css}" rel="stylesheet" />
<link th:href="@{/resources/assets/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/resources/assets/css/paper-dashboard.css?v=2.0.1}" rel="stylesheet" />
<link th:href="@{/resources/assets/css/style-howDo.css}" rel="stylesheet" />
<link th:href="@{/resources/assets/css/icons/css/fontello.css}" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link th:href="@{/resources/assets/demo/demo.css}" rel="stylesheet" />
<link th:href="@{/resources/assets/build/toastr.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Nunito:300,700,900&;display=swap" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
<link th:href="@{/resources/home/css/login.css}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      
      <div class="sidebar-wrapper">
          <div class="logo-hd">
            <img th:src="@{/resources/home/img/brands/ss-complet.svg}" />
          </div>
        <div class="pleca"></div>

            <!-- Menú -->

        <div class="user">
          <div class="photo">
          <img th:src="${info.usuario.imgUrl} ? ${info.usuario.imgUrl} : ''" alt="Foto de perfil"></img>
          </div>
			<div class="info">
                  <a th:href="@{/portal-usuario/dashboard/perfil}" class="collapsed">
                    <span  th:text="${info.usuario.nombre}">Nombre del Usuario
                    <!-- User -->
                    </span>
                  </a>
                  <div class="clearfix"></div>
			</div>
        </div>

            <ul class="nav" id="myScrollspy">
              
              <li class="active">
                <a th:href="@{/portal-usuario/dashboard}">
                  <i class="nc-icon icon-simbolo-estadisticas"></i>
                  <p>
                    General
                  </p>
                </a>
              </li>

              <li>
                <a th:href="@{/portal-usuario/dashboard/retiros}">
                  <i class="nc-icon icon-finanzas-dinero"></i>
                  <p>
                    Retiros
                  </p>
                </a>
              
              </li>

              <li>
                <a th:href="@{/portal-usuario/dashboard/tickets}">
                  <i class="nc-icon icon-objeto-ticket-light"></i>
                  <p>
                    Tickets
                  </p>
                </a>
              </li>

              <li>
                <a th:href="@{/portal-usuario/dashboard/cuentas}">
                  <i class="nc-icon icon-objeto-reloj-light"></i>
                  <p>
                    Movimientos
                  </p>
                </a>
              </li>
            </ul>

      </div>

    </div>
    
    <!--  -->
    <div class="main-panel">

      <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </button>
              </div>
              <font class="navbar-brand">General</font>
            </div>

            <!-- Saldo -->
            <div class="amount">
            	<span th:text="${info.bonificacionFormateada}">$ 999,999.00</span>
            </div>

            <div>
              <a th:href="@{/portal-usuario/user_logout}">Salir <span  class="icon-simbolo-salir"></span></a>
              <ul class="navbar-nav">

              </ul>
            </div>
          </div>
        </nav>
      <!-- End Navbar -->

      <div class="content">
        <div class="row">
          <div class="col-12">
            
            <!-- Encabezado -->
            <div class="col-12">
              <div class="row justify-content-between">
                
                <h2>Hola, Juan</h2>

                <!-- Botón -->
                <div class="col-6">
                  <a class="btn btn-primary" role="button" aria-disabled="true" href="/portal-administrador/producto/save" style="color: #FFFFFF !important; float: right; margin-top: -2px;">
                    + Retiro
                  </a>
                </div>
                <!-- //Botón -->

              </div>
            </div>
            <!-- //Encabezado -->

            <!-- Saldo Card -->
            <div class="col-12 saldo-disponible-general">
              <div class="col-12 w-800">
                Disponible:
              </div>
              <div class="col-12">
                <font class="cifra-enteros w-500"><span th:text="${info.bonificacionEnteraPart}">$ 999,999.00</span></font>
                <font class="cifra-decimal w-500"><span th:text="${info.bonificacionDecimalPart}">.00</span></font>
              </div>
            </div>
            <!-- //Saldo Card -->


            <!-- Retiros -->
            <div class="card mt-24 pb-24">

              <div class="col-12 mt-24">
                <h3>Retiros</h3>
              </div>

              <div class="col-12">
                <div class="row">

                  <!-- Button Retiro bancario -->
                  <div class="btn-complex" style="margin-left: 16px;">
                    <a href="#">
                      <div class="col">
                        <div class="row justify-content-between">
                          <div><img th:src="@{/resources/home/img/micros/sm-info-tarjeta.svg}" /></div>
                          <div class="w-700 btn-complex-title">Bancario</div>
                          <span class="icon-simbolo-siguiente-bold"></span>
                        </div>
                      </div>
                    </a>
                  </div>

                  <!-- Button Retiro PayPal -->
                  <div class="btn-complex">
                    <a href="#">
                      <div class="col">
                        <div class="row justify-content-between">
                          <div><img th:src="@{/resources/home/img/micros/sm-info-payPal.svg}" /></div>
                          <div class="w-700 btn-complex-title">PayPal</div>
                          <span class="icon-simbolo-siguiente-bold"></span>
                        </div>
                      </div>
                    </a>
                  </div>

                  <!-- Button Retiro Recarga telefónica -->
                  <div class="btn-complex">
                    <a href="#">
                      <div class="col">
                        <div class="row justify-content-between">
                          <div><img th:src="@{/resources/home/img/micros/sm-info-mobile.svg}" /></div>
                          <div class="w-700 btn-complex-title">Recarga telefónica</div>
                          <span class="icon-simbolo-siguiente-bold"></span>
                        </div>
                      </div>
                    </a>
                  </div>

                </div>
              </div>

            </div>
            <!-- //Retiros -->

            <!-- Tickets -->
            <div class="card mt-24 pb-24">
              <div class="col-12 mt-24">
                <h3>Tickets</h3>

                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Tienda</th>
                      <th>Cantidad</th>
                      <th>Fecha</th>
                      <th class="disabled-sorting text-right"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <th:block th:each="item : ${tickets}">
                      <tr>
                        <td th:text="${item.nombreTienda}"></td>
                        <td th:text="${item.total}"></td>
                        <td th:text="${item.formatFecha}"></td>
                        <td class="text-right">
                          <a th:href="@{'/portal-administrador/producto/edit/' + ${item.nombreTienda}}">
                            <font class="icon-accion-ver"></font>
                          </a>
                        </td>
                      </tr>
                    </th:block>
                  </tbody>
                </table>

                <div style="text-align: right;">
                  <a href="#">Ver todos</a>
                </div>

              </div>
            </div>

            <!-- Movimientos -->
            <div class="card mt-24 pb-24">
              <div class="col-12 mt-24">
                <h3>Movimientos</h3>

                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Tipo</th>
                     <th>Cuenta</th>
                      <th>Cantidad</th>
                      <th>Fecha</th>
                      <th>Estatus</th>
                    </tr>
                  </thead>
                  <tbody>
                    <th:block th:each="item : ${movimientos}">
                      <tr>
                        <td th:text="${item.mediosBonificacion.aliasMedioBonificacion}"></td>
                        <td th:text="${item.mediosBonificacion.aliasMedioBonificacion}"></td>
                        <td th:text="${item.mediosBonificacion.aliasMedioBonificacion}"></td>
                        <td th:text="${item.mediosBonificacion.aliasMedioBonificacion}"></td>
                        <td></td>
                      </tr>
                    </th:block>
                  </tbody>
                </table>

                <div style="text-align: right;">
                  <a href="#">Ver todos</a>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- <div class="content">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-money-coins text-success"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Saldo.</p>
                      <p class="card-title" th:text="${item.bonificacion}"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr/>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-vector text-danger"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category"># Tickets.</p>
                      <p class="card-title" th:text="${item.tickets}"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr/>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-vector text-danger"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category"># Retiros.</p>
                      <p class="card-title" th:text="${item.retiros}" ></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr/>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-vector text-danger"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category"># Cuentas.</p>
                      <p class="card-title" th:text="${item.medios}"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr/>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">


            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 row">
            <input type="text" style="display:none;" id="url" value="/portal-administrador/envia-problema" />
            <!-- Modal -->

            <div class="col-md-6 text-left">
            <a data-toggle="modal" data-target="#problem" href="">Reportar Problema</a>
            </div>
            <div class="col-md-6 text-right">
            ©2020 Shing-Shing
            </div>
            </div>
            <nav class="footer-nav"></nav>

          </div>
        </div>
      </footer>

    </div>

  </div>
  <!--   Core JS Files   -->
  <script th:src="@{/resources/assets/js/core/jquery.min.js}"></script>
  <script th:src="@{/resources/assets/js/core/popper.min.js}"></script>
  <script th:src="@{/resources/assets/js/core/bootstrap.min.js}"></script>
  <script th:src="@{/resources/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
  <script th:src="@{/resources/assets/js/plugins/moment.min.js}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script th:src="@{/resources/assets/js/plugins/bootstrap-switch.js}"></script>
  <!--  Plugin for Sweet Alert -->
  <script th:src="@{/resources/assets/js/plugins/sweetalert2.min.js}"></script>
  <!-- Forms Validations Plugin -->
  <script th:src="@{/resources/assets/js/plugins/jquery.validate.min.js}"></script>
  <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script th:src="@{/resources/assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script th:src="@{/resources/assets/js/plugins/bootstrap-selectpicker.js}"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script th:src="@{/resources/assets/js/plugins/bootstrap-datetimepicker.js}"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
  <script th:src="@{/resources/assets/js/plugins/jquery.dataTables.min.js}"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script th:src="@{/resources/assets/js/plugins/bootstrap-tagsinput.js}"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script th:src="@{/resources/assets/js/plugins/jasny-bootstrap.min.js}"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script th:src="@{/resources/assets/js/plugins/fullcalendar.min.js}"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script th:src="@{/resources/assets/js/plugins/jquery-jvectormap.js}"></script>
  <!--  Plugin for the Bootstrap Table -->
  <script th:src="@{/resources/assets/js/plugins/nouislider.min.js}"></script>
  <!-- Chart JS -->
  <script th:src="@{/resources/assets/js/plugins/chartjs.min.js}"></script>
  <!--  Notifications Plugin    -->
  <script th:src="@{/resources/assets/js/plugins/bootstrap-notify.js}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script th:src="@{/resources/assets/js/paper-dashboard.min.js?v=2.0.1}" type="text/javascript"></script>
  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script th:src="@{/resources/assets/demo/demo.js}"></script>
  <script>
    $(document).ready(function() {

    });
  </script>
</body>

</html>
 <script th:src="@{/resources/assets/build/toastr.min.js}"></script>
<script th:replace="administrador/fragments/form-reporte-problema::script-reporte-problema"></script>
<script th:replace="administrador/fragments/toast::toast-config"></script>