<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<!-- <link rel="stylesheet" th:hrerf="@{/resources/assets/bootstrap/css/bootstrap.min.css}"/> -->
<link rel="shortcut icon"
	th:href="@{/resources/home/img/brands/favicon.png}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Shing Shing</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     Fonts and icons     -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
	rel="stylesheet"></link>
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
	rel="stylesheet"></link>
<!-- CSS Files -->
<link th:href="@{/resources/assets/css/style-panel.css}"
	rel="stylesheet" />
<link th:href="@{/resources/assets/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<link th:href="@{/resources/assets/css/paper-dashboard.css?v=2.0.1}"
	rel="stylesheet"></link>
<!-- CSS Just for demo purpose, don't include it in your project 
  <link th:href="@{/resources/assets/demo/demo.css}" rel="stylesheet"></link>
  -->
<link
	href="https://fonts.googleapis.com/css?family=Nunito:300,700,900&;display=swap"
	rel="stylesheet" />
</head>

<body class="">
	<div class="wrapper ">
		<div class="sidebar" data-color="white" data-active-color="danger">
			<!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
			<div class="logo">
				<a href="" class="simple-text logo-mini">
					<div class="logo-image-small">

						<img th:src="@{/resources/home/img/brands/ss-iso-orange.svg}"></img>
					</div>
				</a> <a href="" class="simple-text logo-no rmal">
					<div class="logo-image-big">
						<img th:src="@{/resources/home/img/brands/ss-complet-orange.svg}" />
					</div>
				</a>
			</div>
			<div class="sidebar-wrapper">
				<div class="user">
					<div class="photo">
						<img th:src="${item.marcaImageURL} ? ${item.marcaImageURL} : ''" alt="..."></img>
						<!--  <img th:src="@{/resources/assets/img/faces/ayo-ogunseinde-2.jpg}" /> -->
					</div>
					<div class="info">
						<a data-toggle="collapse" href="#collapseExample"
							class="collapsed"> <span id="marcaID"  th:text="${item.marca.nombreMarca}">  <b class="caret"></b>
							
						</span>
						<input type="hidden" id="idMarca" th:value="${item.marca.idCatalogoMarca}"></input>
						</a>
						<div class="clearfix"></div>
						<div class="collapse" id="collapseExample">
							<ul class="nav">
								<!-- 
                <li>
                  <a href="#">
                    <span class="sidebar-mini-icon">MP</span>
                    <span class="sidebar-normal">My Profile</span>
                  </a>
                </li>
                -->
								<li><a href="#"> <span class="sidebar-mini-icon">P</span>
										<span class="sidebar-normal">Perfil</span>
								</a></li>
								<li><a href="#"> <span class="sidebar-mini-icon">C</span>
										<span class="sidebar-normal">Configuracion</span>
								</a></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- MENU -->
				<ul class="nav">
					<li class="active"><a th:href="@{/portal-empresa/dashboard}">
							<i class="nc-icon nc-bank"></i>
							<p>General</p>
					</a></li>
					<li><a th:href="@{/portal-empresa/finanzas}"> <i
							class="nc-icon nc-bank"></i>
							<p>Finanzas</p>
					</a></li>
					<li><a th:href="@{/portal-empresa/productos}"> <i
							class="nc-icon nc-bank"></i>
							<p>Productos</p>
					</a></li>
					<li><a th:href="@{/portal-empresa/usuarios}"> <i
							class="nc-icon nc-bank"></i>
							<p>Usuarios</p>
					</a></li>
					<!-- Las opciones del menu debe ir entre <li></li> -->
					<!-- 
          <li>
            <a data-toggle="collapse" href="#catalogos">
              <i class="nc-icon nc-ruler-pencil"></i>
              <p>
                Catalogos
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse " id="catalogos">
              <ul class="nav">
                <li>
                	
                  <a th:href="@{/catalogos/departamento/save}">
                    <span class="sidebar-mini-icon">D</span>
                    <span class="sidebar-normal"> Departamentos </span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/catalogos/marca/save}">
                    <span class="sidebar-mini-icon">M</span>
                    <span class="sidebar-normal"> Marcas </span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/catalogos/tienda/save}">
                    <span class="sidebar-mini-icon">T</span>
                    <span class="sidebar-normal"> Tiendas </span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/catalogos/medioBonificacion/save}">
                    <span class="sidebar-mini-icon">MB</span>
                    <span class="sidebar-normal"> Medios Bonificacion </span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/catalogos/producto/save}">
                    <span class="sidebar-mini-icon">P</span>
                    <span class="sidebar-normal"> Productos </span>
                  </a>
                </li>
                
              </ul>
            </div>
          </li>
          -->
				</ul>
			</div>
		</div>

		<!--  -->
		<div class="main-panel">
			<!-- Navbar -->
			<nav
				class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<div class="navbar-minimize">
							<button id="minimizeSidebar" class="btn btn-icon btn-round">
								<i
									class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
								<i
									class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
							</button>
						</div>
						<div class="navbar-toggle">
							<button type="button" class="navbar-toggler">
								<span class="navbar-toggler-bar bar1"></span> <span
									class="navbar-toggler-bar bar2"></span> <span
									class="navbar-toggler-bar bar3"></span>
							</button>
						</div>
						<a class="navbar-brand" href="#pablo"><span id="marcaID"  th:text="${item.marca.nombreMarca}">{Marca}</span></a>
					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navigation" aria-controls="navigation-index"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-bar navbar-kebab"></span> <span
							class="navbar-toggler-bar navbar-kebab"></span> <span
							class="navbar-toggler-bar navbar-kebab"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end"
						id="navigation">

						<ul class="navbar-nav">
							<li class="nav-item"><a class="nav-link btn-magnify"
								th:href="@{/portal-empresa/empresa_logout}"> <i
									class="fa fa-sign-out"></i>
									<p>
										<span class="d-lg-none d-md-block">Cerrar sesi&oacute;n</span>
									</p>
							</a></li>

						</ul>
					</div>
				</div>
			</nav>
			<!-- End Navbar -->
			<!-- <div class="panel-header">
  
  <canvas id="bigDashboardChart"></canvas>
  
  
</div> -->
			<div class="content">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 mt15 row">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<h3 class="title-cat">General</h3>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 toolbar">
							<a th:href="@{'/portal-empresa/dashboard/report'}" class="btn btn-primary float-right" role="button"
								aria-disabled="true">Resum&eacute;n</a>
						</div>

					</div>

					<!-- Finanzas -->
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-body ">
								<div class="row">
									<div class="col-5 col-md-4">
										<div class="icon-big text-center icon-warning gray">
											<i class="nc-icon nc-bank text-warning"></i>
										</div>
									</div>
									<div class="col-7 col-md-8">
										<div class="numbers">
											<p class="card-category">Finanzas</p>
											<p class="card-title" th:text="${info.totalBonificaciones}">99</p>
										</div>
									</div>
								</div>
							</div>

							<hr />


							<div class="card-body">

								<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
									<li id="dayFinanzasBtn" class="nav-item"><a
										class="nav-link active" id="pills-home-tab" data-toggle="pill"
										href="#pills-home" role="tab" aria-controls="pills-home"
										aria-selected="true">Día</a></li>
									<li id="weekFinanzasBtn" class="nav-item"><a
										class="nav-link" id="pills-profile-tab" data-toggle="pill"
										href="#pills-profile" role="tab" aria-controls="pills-profile"
										aria-selected="false">Semana</a></li>
									<li id="monthFinanzasBtn" class="nav-item"><a
										class="nav-link" id="pills-contact-tab" data-toggle="pill"
										href="#pills-contact" role="tab" aria-controls="pills-contact"
										aria-selected="false">Mes</a></li>
								</ul>
								<div class="tab-content" id="pills-tabContent">
									<div class="tab-pane fade show active" id="pills-home"
										role="tabpanel" aria-labelledby="pills-home-tab">
										<div class="chartjs-size-monitor"
											style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
											<div class="chartjs-size-monitor-expand"
												style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
												<div
													style="position: absolute; width: 1000000px; height: 1000000px; left: 0; top: 0"></div>
											</div>
											<div class="chartjs-size-monitor-shrink"
												style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
												<div
													style="position: absolute; width: 200%; height: 200%; left: 0; top: 0"></div>
											</div>
										</div>
										<canvas id="finanzasChart" width="558" height="256"
											class="chartjs-render-monitor"
											style="display: block; height: 128px; width: 279px;"></canvas>
									</div>
									<div class="tab-pane fade" id="pills-profile" role="tabpanel"
										aria-labelledby="pills-profile-tab">
										<canvas id="finanzasChart" width="826" height="380"></canvas>
									</div>
									<div class="tab-pane fade" id="pills-contact" role="tabpanel"
										aria-labelledby="pills-contact-tab">
										<canvas id="finanzasChart" width="826" height="380"></canvas>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<hr />
								<div class="row">
									<div class="col-sm-7">
										<div class="footer-title">
											<a
												th:href="@{'/portal-empresa/dashboard/report'}">
												<i class="nc-icon nc-paper"></i>
											</a>
										</div>
									</div>
									<div class="col-sm-5">
										<div class="pull-right">
											<a href="bonificaciones-depositos.html"
												class="btn btn-secondary btn-link btn-sm" role="button"
												aria-disabled="true"> Ver + </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Fin Finanzas -->
					<!-- Productos -->
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-body ">
								<div class="row">
									<div class="col-5 col-md-4">
										<div class="icon-big text-center icon-warning gray">
											<i class="nc-icon nc-bank text-warning"></i>
										</div>
									</div>
									<div class="col-7 col-md-8">
										<div class="numbers">
											<p class="card-category">Productos</p>
											<p class="card-title" th:text="${info.totalProductos}">99</p>
										</div>
									</div>
								</div>
							</div>

							<hr />


							<div class="card-body">

								<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
									<li id="btnProductosDay" class="nav-item"><a
										class="nav-link active" id="pills-home-tab" data-toggle="pill"
										href="#pills-home" role="tab" aria-controls="pills-home"
										aria-selected="true">Día</a></li>
									<li id="btnProductosWeek" class="nav-item"><a
										class="nav-link" id="pills-profile-tab" data-toggle="pill"
										href="#pills-profile" role="tab" aria-controls="pills-profile"
										aria-selected="false">Semana</a></li>
									<li id="btnProductosMonth" class="nav-item"><a
										class="nav-link" id="pills-contact-tab" data-toggle="pill"
										href="#pills-contact" role="tab" aria-controls="pills-contact"
										aria-selected="false">Mes</a></li>
								</ul>
								<div class="tab-content" id="pills-tabContent">
									<div class="tab-pane fade show active" id="pills-home"
										role="tabpanel" aria-labelledby="pills-home-tab">
										<div class="chartjs-size-monitor"
											style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
											<div class="chartjs-size-monitor-expand"
												style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
												<div
													style="position: absolute; width: 1000000px; height: 1000000px; left: 0; top: 0"></div>
											</div>
											<div class="chartjs-size-monitor-shrink"
												style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
												<div
													style="position: absolute; width: 200%; height: 200%; left: 0; top: 0"></div>
											</div>
										</div>
										<canvas id="productosChart" width="558" height="256"
											class="chartjs-render-monitor"
											style="display: block; height: 128px; width: 279px;"></canvas>
									</div>
									<div class="tab-pane fade" id="pills-profile" role="tabpanel"
										aria-labelledby="pills-profile-tab">
										<canvas id="productosChart" width="826" height="380"></canvas>
									</div>
									<div class="tab-pane fade" id="pills-contact" role="tabpanel"
										aria-labelledby="pills-contact-tab">
										<canvas id="productosChart" width="826" height="380"></canvas>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<hr />
								<div class="row">
									<div class="col-sm-7">
										<div class="footer-title">
											<a
												th:href="@{'/portal-empresa/dashboard/report'}">
												<i class="nc-icon nc-paper"></i>
											</a>
										</div>
									</div>
									<div class="col-sm-5">
										<div class="pull-right">
											<a href="bonificaciones-depositos.html"
												class="btn btn-secondary btn-link btn-sm" role="button"
												aria-disabled="true"> Ver + </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Fin Productos -->
					<!-- Usuarios -->
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-body ">
								<div class="row">
									<div class="col-5 col-md-4">
										<div class="icon-big text-center icon-warning gray">
											<i class="nc-icon nc-bank text-warning"></i>
										</div>
									</div>
									<div class="col-7 col-md-8">
										<div class="numbers">
											<p class="card-category">Usuarios</p>
											<p class="card-title" th:text="${info.totalUsuarios}">99</p>
										</div>
									</div>
								</div>
							</div>

							<hr />


							<div class="card-body">

								<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
									<li id="btnUsersDay" class="nav-item"><a
										class="nav-link active" id="pills-home-tab" data-toggle="pill"
										href="#pills-home" role="tab" aria-controls="pills-home"
										aria-selected="true">Día</a></li>
									<li id="btnUsersWeek" class="nav-item"><a
										class="nav-link" id="pills-profile-tab" data-toggle="pill"
										href="#pills-profile" role="tab" aria-controls="pills-profile"
										aria-selected="false">Semana</a></li>
									<li id="btnUsersMonth" class="nav-item"><a
										class="nav-link" id="pills-contact-tab" data-toggle="pill"
										href="#pills-contact" role="tab" aria-controls="pills-contact"
										aria-selected="false">Mes</a></li>
								</ul>
								<div class="tab-content" id="pills-tabContent">
									<div class="tab-pane fade show active" id="pills-home"
										role="tabpanel" aria-labelledby="pills-home-tab">
										<div class="chartjs-size-monitor"
											style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
											<div class="chartjs-size-monitor-expand"
												style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
												<div
													style="position: absolute; width: 1000000px; height: 1000000px; left: 0; top: 0"></div>
											</div>
											<div class="chartjs-size-monitor-shrink"
												style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
												<div
													style="position: absolute; width: 200%; height: 200%; left: 0; top: 0"></div>
											</div>
										</div>
										<canvas id="usuariosChart" width="558" height="256"
											class="chartjs-render-monitor"
											style="display: block; height: 128px; width: 279px;"></canvas>
									</div>
									<div class="tab-pane fade" id="pills-profile" role="tabpanel"
										aria-labelledby="pills-profile-tab">
										<canvas id="usuariosChart" width="826" height="380"></canvas>
									</div>
									<div class="tab-pane fade" id="pills-contact" role="tabpanel"
										aria-labelledby="pills-contact-tab">
										<canvas id="usuariosChart" width="826" height="380"></canvas>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<hr />
								<div class="row">
									<div class="col-sm-7">
										<div class="footer-title">
											<a
												th:href="@{'/portal-empresa/dashboard/report'}">
												<i class="nc-icon nc-paper"></i>
											</a>
										</div>
									</div>
									<div class="col-sm-5">
										<div class="pull-right">
											<a href="bonificaciones-depositos.html"
												class="btn btn-secondary btn-link btn-sm" role="button"
												aria-disabled="true"> Ver + </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Fin Usuarios -->
				</div>
				<!-- Tiendas -->
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="card card-stats">
						<div class="card-body ">
							<div class="row">

								<div class="col-12 col-md-12">

									<h5 class="title-cat">Tiendas</h5>

								</div>
							</div>
						</div>

						<hr />


						<div class="card-body">


							<div class="tab-content" id="pills-tabContent">
								<div class="tab-pane fade show active" id="pills-home"
									role="tabpanel" aria-labelledby="pills-home-tab">
									<div class="chartjs-size-monitor"
										style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
										<div class="chartjs-size-monitor-expand"
											style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
											<div
												style="position: absolute; width: 1000000px; height: 1000000px; left: 0; top: 0"></div>
										</div>
										<div class="chartjs-size-monitor-shrink"
											style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
											<div
												style="position: absolute; width: 200%; height: 200%; left: 0; top: 0"></div>
										</div>
									</div>
									<canvas id="finanzasChart" width="558" height="256"
										class="chartjs-render-monitor"
										style="display: block; height: 128px; width: 279px;"></canvas>
								</div>
								<div class="tab-pane fade" id="pills-profile" role="tabpanel"
									aria-labelledby="pills-profile-tab">
									<canvas id="finanzasChart" width="826" height="380"></canvas>
								</div>
								<div class="tab-pane fade" id="pills-contact" role="tabpanel"
									aria-labelledby="pills-contact-tab">
									<canvas id="finanzasChart" width="826" height="380"></canvas>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<hr />
							<div class="row">
								<div class="col-sm-7">
									<div class="footer-title">
										<a
											th:href="@{'/portal-empresa/dashboard/report'}">
											<i class="nc-icon nc-paper"></i>
										</a>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="pull-right">
										<a href="bonificaciones-depositos.html"
											class="btn btn-secondary btn-link btn-sm" role="button"
											aria-disabled="true"> Ver + </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Fin Tiendas -->


				<!--  
        <div class="row">
          <div class="col-md-3">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Email Statistics</h5>
                <p class="card-category">Last Campaign Performance</p>
              </div>
              <div class="card-body ">
                <canvas id="chartDonut1" class="ct-chart ct-perfect-fourth" width="456" height="300"></canvas>
              </div>
              <div class="card-footer ">
                <div class="legend">
                  <i class="fa fa-circle text-info"></i> Open
                </div>
                <hr/>
                <div class="stats">
                  <i class="fa fa-calendar"></i> Number of emails sent
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">New Visitators</h5>
                <p class="card-category">Out Of Total Number</p>
              </div>
              <div class="card-body ">
                <canvas id="chartDonut2" class="ct-chart ct-perfect-fourth" width="456" height="300"></canvas>
              </div>
              <div class="card-footer ">
                <div class="legend">
                  <i class="fa fa-circle text-warning"></i> Visited
                </div>
                <hr/>
                <div class="stats">
                  <i class="fa fa-check"></i> Campaign sent 2 days ago
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Orders</h5>
                <p class="card-category">Total number</p>
              </div>
              <div class="card-body ">
                <canvas id="chartDonut3" class="ct-chart ct-perfect-fourth" width="456" height="300"></canvas>
              </div>
              <div class="card-footer ">
                <div class="legend">
                  <i class="fa fa-circle text-danger"></i> Completed
                </div>
                <hr/>
                <div class="stats">
                  <i class="fa fa-clock-o"></i> Updated 3 minutes ago
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Subscriptions</h5>
                <p class="card-category">Our Users</p>
              </div>
              <div class="card-body ">
                <canvas id="chartDonut4" class="ct-chart ct-perfect-fourth" width="456" height="300"></canvas>
              </div>
              <div class="card-footer ">
                <div class="legend">
                  <i class="fa fa-circle text-secondary"></i> Ended
                </div>
                <hr/>
                <div class="stats">
                  <i class="fa fa-history"></i> Total users
                </div>
              </div>
            </div>
          </div>
        </div>
        -->

			</div>


			<footer class="footer footer-black  footer-white ">
				<div class="container-fluid">
					<div
						th:replace="administrador/fragments/form-reporte-problema::form-reporte-problema"></div>
				</div>
			</footer>
		</div>
	</div>
	<!--   Core JS Files   -->
	<script th:src="@{/resources/assets/js/core/jquery.min.js}"></script>
	<script th:src="@{/resources/assets/js/core/popper.min.js}"></script>
	<script th:src="@{/resources/assets/js/core/bootstrap.min.js}"></script>
	<script
		th:src="@{/resources/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
	<script th:src="@{/resources/assets/js/plugins/moment.min.js}"></script>
	<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-switch.js}"></script>
	<!--  Plugin for Sweet Alert -->
	<script th:src="@{/resources/assets/js/plugins/sweetalert2.min.js}"></script>
	<!-- Forms Validations Plugin -->
	<script th:src="@{/resources/assets/js/plugins/jquery.validate.min.js}"></script>
	<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
	<script
		th:src="@{/resources/assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
	<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
	<script
		th:src="@{/resources/assets/js/plugins/bootstrap-selectpicker.js}"></script>
	<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
	<script
		th:src="@{/resources/assets/js/plugins/bootstrap-datetimepicker.js}"></script>
	<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
	<script
		th:src="@{/resources/assets/js/plugins/jquery.dataTables.min.js}"></script>
	<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-tagsinput.js}"></script>
	<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
	<script th:src="@{/resources/assets/js/plugins/jasny-bootstrap.min.js}"></script>
	<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
	<script th:src="@{/resources/assets/js/plugins/fullcalendar.min.js}"></script>
	<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
	<script th:src="@{/resources/assets/js/plugins/jquery-jvectormap.js}"></script>
	<!--  Plugin for the Bootstrap Table -->
	<script th:src="@{/resources/assets/js/plugins/nouislider.min.js}"></script>
	<!--  Google Maps Plugin    -->
	<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
	<!-- Chart JS -->
	<script th:src="@{/resources/assets/js/plugins/chartjs.min.js}"></script>
	<!--  Notifications Plugin    -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-notify.js}"></script>
	<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
	<script th:src="@{/resources/assets/js/paper-dashboard.min.js?v=2.0.1}"
		type="text/javascript"></script>
	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script th:src="@{/resources/assets/demo/demo.js}"></script>
	<script>
		$(document).ready(function() {
			var str = $('#marca.idCatalogoMarca').val();
			console.log( "HTML Proveedor: " + str );
			
			var v = $("#marcaID").text();
			var idMarca = $("#idMarca").val();
			
			//Finanzas
			$('#dayFinanzasBtn').click(function(){
				finanzasPorDiaChart();
			});

			$('#weekFinanzasBtn').click(()=>{
				finanzasPorSemanaChart();
			});

			$('#monthFinanzasBtn').click(()=>{
				finanzasPorMesChart()
			});
			
			//Productos
			$('#btnProductosDay').click(function(){
				productosPorDiaChart();
			});

			$('#btnProductosWeek').click(()=>{
				productosPorSemanaChart();
			});

			$('#btnProductosMonth').click(()=>{
				productosPorMesChart()
			});
			
			//Usuarios
			$('#btnUsersDay').click(function(){
				usuariosPorDiaChart();
			});

			$('#btnUsersWeek').click(()=>{
				usuariosPorSemanaChart();
			});

			$('#btnUsersMonth').click(()=>{
				usuariosPorMesChart()
			});
			
			function finanzasPorDiaChart() {
				estadisticas_general.finanzasPorDiaChart( idMarca, "1", "d" );
			}

			function finanzasPorSemanaChart() {
				estadisticas_general.finanzasPorSemanaChart( idMarca, "1", "s" );
			}

			function finanzasPorMesChart() {
				estadisticas_general.finanzasPorMesChart( idMarca, "1", "m" );
			}
			
			function productosPorDiaChart() {
				estadisticas_general.productosPorDiaChart( idMarca, "2", "d" );
			}

			function productosPorSemanaChart() {
				estadisticas_general.productosPorSemanaChart( idMarca, "2", "s" );
			}

			function productosPorMesChart() {
				estadisticas_general.productosPorMesChart( idMarca, "2", "m" );
			}
			
			function usuariosPorDiaChart() {
				estadisticas_general.usuariosPorDiaChart( idMarca, "3", "d" );
			}

			function usuariosPorSemanaChart() {
				estadisticas_general.usuariosPorSemanaChart( idMarca, "3", "s" );
			}

			function usuariosPorMesChart() {
				estadisticas_general.usuariosPorMesChart( idMarca, "3", "m" );
			}
			
			
			//function loadChart( idChart, tipo, categoria ) {
			//	bonificaciones_generales.loadChart( idChart, tipo, categoria );
			//}

		});
	</script>
	<script th:src="@{/resources/assets/demo/empresa-dashboard-chart.js}"></script>
</body>

</html>
<script th:src="@{/resources/assets/build/toastr.min.js}"></script>
<script
	th:replace="administrador/fragments/form-reporte-problema::script-reporte-problema"></script>
<script th:replace="administrador/fragments/toast::toast-config"></script>