<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<!-- <link rel="stylesheet" th:hrerf="@{/resources/assets/bootstrap/css/bootstrap.min.css}"/> -->
	<link rel="shortcut icon" th:href="@{/resources/home/img/brands/favicon.png}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Usuarios | Shing Shing</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<!--     Fonts and icons     -->
    <link th:href="@{/resources/assets/css/icons/css/fontello.css}" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
	</link>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	</link>
	<!-- CSS Files -->
	<link th:href="@{/resources/assets/css/style-panel.css}" rel="stylesheet" />
	<link th:href="@{/resources/assets/css/bootstrap.min.css}" rel="stylesheet">
	</link>
	<link th:href="@{/resources/assets/css/paper-dashboard.css?v=2.0.1}" rel="stylesheet">
	</link>
	<link th:href="@{/resources/assets/build/toastr.css}" rel="stylesheet" />
	<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
	<!-- CSS Just for demo purpose, don't include it in your project 
  <link th:href="@{/resources/assets/demo/demo.css}" rel="stylesheet"></link>
  -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,700,900&;display=swap" rel="stylesheet" />
	<link th:href="@{/resources/assets/css/style-howDo.css}" rel="stylesheet" />
</head>

<body class="">
	<div class="wrapper ">
		<div class="sidebar" data-color="white" data-active-color="danger">
			<!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->

			<div class="sidebar-wrapper">
				<div th:replace="administrador/fragments/panel::head-side-fragment(logo='marcas')"></div>
				<div class="user">
					<div class="photo">
						<img th:src="${item.marcaImageURL} ? ${item.marcaImageURL} : ''" alt="..."></img>
					</div>
					<div class="info">
						<a data-toggle="collapse" href="#collapseExample"
							class="collapsed"> <span id="marcaID"  th:text="${item.marca.nombreMarca}"> <b class="caret"></b>
						</span>
						<input type="hidden" id="idMarca" th:value="${item.marca.idCatalogoMarca}"></input>
						</a>
						<div class="clearfix"></div>
						<div class="collapse" id="collapseExample">
							<ul class="nav">
								<!-- 
                <li>
                  <a href="#">
                    <span class="sidebar-mini-icon">MP</span>
                    <span class="sidebar-normal">My Profile</span>
                  </a>
                </li>
                -->
								<li><a href="#"> <span class="sidebar-mini-icon">P</span>
										<span class="sidebar-normal">Perfil</span>
									</a></li>
								<li><a href="#"> <span class="sidebar-mini-icon">C</span>
										<span class="sidebar-normal">Configuracion</span>
									</a></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- MENU -->
				<ul class="nav">
					<li><a th:href="@{/portal-empresa/dashboard}">
							<i class="nc-icon nc-chart-bar-32"></i>
							<p>General</p>
						</a></li>
					<li><a th:href="@{/portal-empresa/finanzas}"> <i class="icon-finanzas-dinero"></i>
							<p>Finanzas</p>
						</a></li>
					<li><a th:href="@{/portal-empresa/productos}"> <i class="icon-objeto-productosapp"></i>
							<p>Productos</p>
						</a></li>
					<li class="active"><a th:href="@{/portal-empresa/usuarios}"> <i class="icon-simbolo-usuario"></i>
							<p>Usuarios</p>
						</a></li>
					<!-- Las opciones del menu debe ir entre <li></li> -->
					<!-- 
          <li>
            <a data-toggle="collapse" href="#catalogos">
              <i class="nc-icon nc-ruler-pencil"></i>
              <p>
                Catalogos
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse " id="catalogos">
              <ul class="nav">
                <li>
                	
                  <a th:href="@{/catalogos/departamento/save}">
                    <span class="sidebar-mini-icon">D</span>
                    <span class="sidebar-normal"> Departamentos </span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/catalogos/marca/save}">
                    <span class="sidebar-mini-icon">M</span>
                    <span class="sidebar-normal"> Marcas </span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/catalogos/tienda/save}">
                    <span class="sidebar-mini-icon">T</span>
                    <span class="sidebar-normal"> Tiendas </span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/catalogos/medioBonificacion/save}">
                    <span class="sidebar-mini-icon">MB</span>
                    <span class="sidebar-normal"> Medios Bonificacion </span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/catalogos/producto/save}">
                    <span class="sidebar-mini-icon">P</span>
                    <span class="sidebar-normal"> Productos </span>
                  </a>
                </li>
                
              </ul>
            </div>
          </li>
          -->
				</ul>
			</div>
		</div>

		<div class="main-panel">
			<!-- Navbar -->
			<nav th:replace="administrador/fragments/panel::navbarPanel-empresa-fragment(title='Dashboard')"></nav>
			<!-- End Navbar -->
			<!-- <div class="panel-header">
  
  <canvas id="bigDashboardChart"></canvas>
  
  
</div> -->
		<div class="content">
				<div class="row">
				<div class="col-12">
					<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-6">
								<h2>Usuarios</h2>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 toolbar">
								<a th:href="@{'/portal-empresa/usuarios/report'}" class="btn btn-primary float-right" role="button"
									aria-disabled="true">Resumen</a>
							</div>
					</div>

					<div class="row">
						<!-- Usuario de tus Productos -->
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-body ">
									<div class="row">
										<div class="col-5 col-md-4">
											<div class="icon-big text-center icon-warning gray">
												<i class="icon-objeto-productosusuario"></i>
											</div>
										</div>
										<div class="col-7 col-md-8">
											<div class="numbers">
												<p class="card-category" >Usuarios de tus productos</p>
												<p class="card-title" th:text="${info.totalUsuarios}" >99</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Fin Usuario de tus Productos -->
						
						<!-- Mujeres -->
						<div class="col-lg-2 col-md-2 col-sm-2">
							<div class="card card-stats">
								<div class="card-body ">
									<div class="row">
										<div class="col-12 col-md-12">
											<div class="numbers">
												<p class="card-category">Mujeres</p>
												<p class="card-title" th:text="${info.porcentajeM}" >50%</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Fin Mujeres -->
						
						<!-- Hombres -->
						<div class="col-lg-2 col-md-2 col-sm-2">
							<div class="card card-stats">
								<div class="card-body ">
									<div class="row">
										<div class="col-12 col-md-12">
											<div class="numbers">
												<p class="card-category">Hombres</p>
												<p class="card-title" th:text="${info.porcentajeH}" >50%</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Fin Hombres -->
						
						<!-- Edad -->
						<div class="col-lg-2 col-md-2 col-sm-2">
							<div class="card card-stats">
								<div class="card-body ">
									<div class="row">
										<div class="col-12 col-md-12">
											<div class="numbers">
												<p class="card-category">Edad</p>
												<p class="card-title" th:text="${info.promedioEdad}" >30.5</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Fin Edad -->
					</div>
					
					<!-- Inicio Geografias -->
					<div class="col-lg-12 col-md-12 col-sm-12 card card-stats">
					
							<div class="card-body">
								<div class="row">
									<div class="col-md-12 col-lg-12 col-sm-12">
										<h3>Geografías</h3>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="tab-content" id="pills-tabContent">
									<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
										<div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
											<div class="chartjs-size-monitor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
												<div style="position: absolute; width: 1000000px; height: 1000000px; left: 0; top: 0"></div>
											</div>
											<div class="chartjs-size-monitor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
												<div style="position: absolute; width: 200%; height: 200%; left: 0; top: 0"></div>
											</div>
										</div>
										<canvas id="geografiaChart" width="558" height="256" class="chartjs-render-monitor" style="display: block; height: 128px; width: 279px;"></canvas>
									</div>
									<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
										<canvas id="geografiaChart" width="826" height="380"></canvas>
									</div>
									<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
										<canvas id="geografiaChart" width="826" height="380"></canvas>
									</div>
								</div>
							</div>

						</div>
					</div>
					<!-- Fin Geografias -->
					
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="card card-stats">
							<div class="card-body" style="padding-bottom:24px;">
								<div class="row">
									<div class="col-md-12 col-lg-12 col-sm-12">
										<h3>Tus Usuarios</h3>
									</div>

									<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>Id</th>
												<th>Usuario</th>
												<th>Edad</th>
												<th>Sexo</th>
												<!--  <th>Imagen</th> -->
												<th>Escaneos de tus productos</th>

												<!--<th class="disabled-sorting text-right"></th>-->
											</tr>
										</thead>
										<!--<tfoot>
											<tr>
												<th>Id</th>
												<th>Usuario</th>
												<th>Edad</th>
												<th>Sexo</th>
												<th>Imagen</th>
												<th>Escaneos de tus productos</th>

												<th class="disabled-sorting text-right"></th>
											</tr>
										</tfoot>-->
										<tbody>
											<th:block th:each="item : ${info.usuarios}">
											<tr>
												<td th:text="${item.idUsuario}"></td>
												<td th:text="${item.nombre}"></td>
												<td th:text="${item.edad}"></td>
												<td th:text="${item.sexo}"></td>
												<td th:text="${item.escaneos}"></td>
												<td class="text-center"><a  th:href="@{'/portal-empresa/usuarios/informacion/'+${item.idUsuario}}"><i
														class="fa fa-search" aria-hidden="true"></i></a></td>
											</tr>

											</th:block>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
				<!--  
        <div class="row">
          <div class="col-md-3">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Email Statistics</h5>
                <p class="card-category">Last Campaign Performance</p>
              </div>
              <div class="card-body ">
                <canvas id="chartDonut1" class="ct-chart ct-perfect-fourth" width="456" height="300"></canvas>
              </div>
              <div class="card-footer ">
                <div class="legend">
                  <i class="fa fa-circle text-info"></i> Open
                </div>
                <hr/>
                <div class="stats">
                  <i class="fa fa-calendar"></i> Number of emails sent
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">New Visitators</h5>
                <p class="card-category">Out Of Total Number</p>
              </div>
              <div class="card-body ">
                <canvas id="chartDonut2" class="ct-chart ct-perfect-fourth" width="456" height="300"></canvas>
              </div>
              <div class="card-footer ">
                <div class="legend">
                  <i class="fa fa-circle text-warning"></i> Visited
                </div>
                <hr/>
                <div class="stats">
                  <i class="fa fa-check"></i> Campaign sent 2 days ago
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Orders</h5>
                <p class="card-category">Total number</p>
              </div>
              <div class="card-body ">
                <canvas id="chartDonut3" class="ct-chart ct-perfect-fourth" width="456" height="300"></canvas>
              </div>
              <div class="card-footer ">
                <div class="legend">
                  <i class="fa fa-circle text-danger"></i> Completed
                </div>
                <hr/>
                <div class="stats">
                  <i class="fa fa-clock-o"></i> Updated 3 minutes ago
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Subscriptions</h5>
                <p class="card-category">Our Users</p>
              </div>
              <div class="card-body ">
                <canvas id="chartDonut4" class="ct-chart ct-perfect-fourth" width="456" height="300"></canvas>
              </div>
              <div class="card-footer ">
                <div class="legend">
                  <i class="fa fa-circle text-secondary"></i> Ended
                </div>
                <hr/>
                <div class="stats">
                  <i class="fa fa-history"></i> Total users
                </div>
              </div>
            </div>
          </div>
        </div>
        -->
			<footer class="footer footer-black  footer-white ">
				<div class="container-fluid">
					<div th:replace="administrador/fragments/form-reporte-problema::form-reporte-problema"></div>
				</div>
			</footer>
			
			</div>
		</div>

	<!--   Core JS Files   -->
	<script th:src="@{/resources/assets/js/core/jquery.min.js}"></script>
	<script th:src="@{/resources/assets/js/core/popper.min.js}"></script>
	<script th:src="@{/resources/assets/js/core/bootstrap.min.js}"></script>
	<script th:src="@{/resources/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
	<script th:src="@{/resources/assets/js/plugins/moment.min.js}"></script>
	<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-switch.js}"></script>
	<!--  Plugin for Sweet Alert -->
	<script th:src="@{/resources/assets/js/plugins/sweetalert2.min.js}"></script>
	<!-- Forms Validations Plugin -->
	<script th:src="@{/resources/assets/js/plugins/jquery.validate.min.js}"></script>
	<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
	<script th:src="@{/resources/assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
	<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-selectpicker.js}"></script>
	<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-datetimepicker.js}"></script>
	<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
	<script th:src="@{/resources/assets/js/plugins/jquery.dataTables.min.js}"></script>
	<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-tagsinput.js}"></script>
	<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
	<script th:src="@{/resources/assets/js/plugins/jasny-bootstrap.min.js}"></script>
	<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
	<script th:src="@{/resources/assets/js/plugins/fullcalendar.min.js}"></script>
	<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
	<script th:src="@{/resources/assets/js/plugins/jquery-jvectormap.js}"></script>
	<!--  Plugin for the Bootstrap Table -->
	<script th:src="@{/resources/assets/js/plugins/nouislider.min.js}"></script>
	<!--  Google Maps Plugin    -->
	<!-- Chart JS -->
	<script th:src="@{/resources/assets/js/plugins/chartjs.min.js}"></script>
	<!--  Notifications Plugin    -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-notify.js}"></script>
	<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
	<script th:src="@{/resources/assets/js/paper-dashboard.min.js?v=2.0.1}" type="text/javascript"></script>
	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script th:src="@{/resources/assets/demo/empresa-usuarios-dashboard-chart.js}"></script>
	<script>
		$(document).ready(

			function () {
				$('#datatable').DataTable(
					{
						"pagingType": "full_numbers",
						"lengthMenu": [[10, 25, 50, -1],
						[10, 25, 50, "Todas"]],
						responsive: true,
						language: {
							search: "_INPUT_",
							searchPlaceholder: "Busqueda",
						}

					});

			});
	</script>
</body>

</html>
<script th:src="@{/resources/assets/build/toastr.min.js}"></script>
<script th:replace="administrador/fragments/form-reporte-problema::script-reporte-problema"></script>
<script th:replace="administrador/fragments/toast::toast-config"></script>
