<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Shing Shing</title>
<meta charset="utf-8" />

</head>
<body>

	<h1>Guardar</h1>
	<img th:src="@{/resources/imgs/buy.png}" width="65" height="53" class="d-inline-block align-top" alt=""/>
	<form action="#" th:action="@{/medio/save}" th:object="${item}"
		method="post" enctype="multipart/form-data">
		<table border="1">
			<tr>
				Select a file: <input type="file" name="myFile"/><br/><br/>
  				<td><input type="submit"/></td>
				<td><input type="text" th:field="*{nombreMedioBonificacion}" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
	</form>
</body>
</html>
