<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<link rel="shortcut icon"
	th:href="@{/resources/home/img/brands/favicon.png}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Marcas | Shing-Shing</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     Fonts and icons     -->
<link
	href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css"
	rel="stylesheet" />
<link th:href="@{/resources/assets/build/toastr.css}" rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
	rel="stylesheet" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
	rel="stylesheet" />
<!-- CSS Files -->
<link th:href="@{/resources/assets/css/style-panel.css}" rel="stylesheet" />
<link th:href="@{/resources/assets/css/style-howDo.css}" rel="stylesheet" />
<link th:href="@{/resources/assets/css/icons/css/fontello.css}" rel="stylesheet" />
<link th:href="@{/resources/assets/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/resources/assets/css/paper-dashboard.css?v=2.0.1}"
	rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link th:href="@{/resources/assets/demo/demo.css}" rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Nunito:300,700,900&;display=swap"
	rel="stylesheet" />
<link th:href="@{/resources/assets/css/style-howDo.css}"
	rel="stylesheet" />
</head>

<body style="font-family: 'Nunito', sans-serif !important;">
	<div class="wrapper ">
		<div class="sidebar" data-color="white">
			<div class="sidebar-wrapper">
				<div th:replace="administrador/fragments/panel::head-side-fragment(logo='panel')"></div>
				<div class="user">
					<div class="photo">
						<img th:src="${item.imgUrl} ? ${item.imgUrl} : ''" alt="..."></img>
					</div>
					<div class="info">
						<a data-toggle="collapse" href="#collapseExample"
							class="collapsed"> <span th:text="${item.nombre}"> <!-- User -->
								<b class="caret"></b>
						</span>
						</a>
						<div class="clearfix"></div>
					</div>
				</div>

				<ul class="nav">

					<li class="active"><a data-toggle="collapse" href="#catalogos"
						aria-expanded="true"> <i class="nc-icon icon-objeto-catalogo"></i>
							<p>
								Catalogos
							</p>
					</a>
						<div class="collapse show" id="catalogos">
							<ul class="nav">
								<li><a th:href="@{/portal-administrador/tienda/list}">
										<span class="sidebar-mini-icon">·</span> <span
										class="sidebar-normal"> Clientes </span>
								</a></li>
								<li><a th:href="@{/portal-administrador/tienda/list}">
										<span class="sidebar-mini-icon">·</span> <span
										class="sidebar-normal"> Tiendas </span>
								</a></li>
								<li><a th:href="@{/portal-administrador/departamento/list}">
										<span class="sidebar-mini-icon">·</span> <span
										class="sidebar-normal"> Departamentos </span>
								</a></li>
								<li class="active"><a th:href="@{/portal-administrador/marca/list}"> <span
										class="sidebar-mini-icon">·</span> <span
										class="sidebar-normal"> Marcas </span>
								</a></li>
								<li><a
									th:href="@{/portal-administrador/producto/list}"> <span
										class="sidebar-mini-icon">·</span> <span
										class="sidebar-normal"> Productos </span>
								</a></li>
							</ul>
						</div></li>
					<li>
					<a data-toggle="collapse" href="#bonificaciones"> <i
							class="nc-icon icon-finanzas-dinero"></i>
							<p>
								Finanzas
							</p>
					</a>

						<div class="collapse show" id="bonificaciones">
							<ul class="nav">
								<li><a
									th:href="@{/portal-administrador/bonificaciones-general}">
										<span class="sidebar-mini-icon">·</span> <span
										class="sidebar-normal">General</span>
								</a></li>
								<li><a
									th:href="@{/portal-administrador/mediosBonificacion/list}">
										<span class="sidebar-mini-icon">·</span> <span
										class="sidebar-normal"> Medios bonificación </span>
								</a></li>
								<li><a
									th:href="@{/portal-administrador/bonificaciones-depositos}">
										<span class="sidebar-mini-icon">·</span> <span
										class="sidebar-normal">Retiros</span>
								</a></li>
								<li><a
									th:href="@{/portal-administrador/bonificaciones-recargas}">
										<span class="sidebar-mini-icon">·</span> <span
										class="sidebar-normal">Recargas</span>
								</a></li>
							</ul>
						</div></li>

					<li><a data-toggle="collapse" href="#estadisticas"> <i
							class="nc-icon icon-simbolo-estadisticas"></i>
							<p>
								Estadisticas
							</p>
					</a>
						<div class="collapse show" id="estadisticas">
							<ul class="nav">
								<li><a
									th:href="@{/portal-administrador/estadisticas-general}"> <span
										class="sidebar-mini-icon">·</span><span class="sidebar-normal">General</span>
								</a></li>
								<li><a
									th:href="@{/portal-administrador/estadisticas-tickets}"> <span
										class="sidebar-mini-icon">·</span> <span
										class="sidebar-normal">Tickets</span>
								</a></li>
								<li><a
									th:href="@{/portal-administrador/estadisticas-marcas}"> <span
										class="sidebar-mini-icon">·</span> <span
										class="sidebar-normal">Marcas</span>
								</a></li>
								<li><a
									th:href="@{/portal-administrador/estadisticas-usuarios}"> <span
										class="sidebar-mini-icon">·</span> <span
										class="sidebar-normal">Usarios</span>
								</a></li>
							</ul>
						</div></li>
				</ul>
			</div>
		</div>


		<div class="main-panel">
			<nav
				th:replace="administrador/fragments/panel::navbarPanel-fragment(title='Catalogos')"></nav>
			<!-- <div class="panel-header"></div> -->
			<div class="content">
				<div class="row">
					<div class="col-md-12">
						<b><h2 class="title-cat">Marcas</h2></b>
						
						<div class="card">
							<div class="card-header ">
								<h3 class="card-title">Clientes</h3>
							</div>

							<div class="card-body">
								<div class="toolbar">
									<!--        Here you can write extra buttons/actions for the toolbar              -->
									<a th:href="@{/portal-administrador/marca-admin/save}"
										class="btn btn-primary" role="button" aria-disabled="true"><i
										class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
								</div>
								<table id="datatable" class="table table-striped table-bordered"
									cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Id</th>
											<th>Correo</th>
											<th>Marca</th>
											<th class="disabled-sorting text-right">Actions</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:each="item : ${proveedores}">
											<tr>
												<td th:text="${item.id}"></td>
												<td th:text="${item.email}"></td>
												<td th:text="${item.marca}"></td>
												<td class="text-right">
													<a th:href="@{'/portal-administrador/marca-admin/edit/' + ${item.id}}">
														<span class="icon-accion-descargar"></span>
													</a>
													<a th:href="@{'/portal-administrador/marca-admin/edit/' + ${item.id}}">
														Editar
													</a>
												</td>
											</tr>
										</th:block>
									</tbody>
								</table>
							</div>
							<!-- end content-->
						</div>
						<!--  end card  -->
					</div>
					<!-- end col-md-12 -->
				</div>
				<!-- end row -->

				<div class="row">
					<div class="col-md-12">
						<div class="card">

							<div class="card-header ">
								<h3 class="card-title">Marcas</h3>
							</div>

							<div class="card-body">
								<div class="toolbar">
									<!--        Here you can write extra buttons/actions for the toolbar              -->
									<a th:href="@{/portal-administrador/marca/report}"
										class="btn btn-secundary" role="button" aria-disabled="true">Reporte</a> <a th:href="@{/portal-administrador/marca/save}"
										class="btn btn-primary" role="button" aria-disabled="true"><i
										class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
								</div>
								<table id="datatable2" class="table table-striped table-bordered"
									cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Id</th>
											<th>Marca</th>
											<th>Productos</th>
											<th class="disabled-sorting text-right"></th>
										</tr>
									</thead>
									<tbody>
										<th:block th:each="item : ${marcas}">
											<tr>
												<td th:text="${item.idCatalogoMarca}"></td>
												<td th:text="${item.nombreMarca}"></td>
												<td th:text="${item.products}"></td>
												<td class="text-right">
													<a th:href="@{'/portal-administrador/marca/edit/' + ${item.idCatalogoMarca}}">
														<span class="icon-accion-descargar"></span>
													</a>
													<a th:href="@{'/portal-administrador/marca/edit/' + ${item.idCatalogoMarca}}">
														Editar
													</a>
												</td>
											</tr>
										</th:block>
									</tbody>
								</table>
							</div>
							<!-- end content-->
						</div>
						<!--  end card  -->
					</div>
					<!-- end col-md-12 -->
				</div>
				<!-- end row -->
			</div>
			<footer class="footer footer-black  footer-white ">
				<div class="container-fluid">
					<div class="row">


						<div
							th:replace="administrador/fragments/form-reporte-problema::form-reporte-problema"></div>
						<nav class="footer-nav">




							<ul>
								<!-- <li>
									<a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
								</li>
								<li>
									<a href="http://blog.creative-tim.com/" target="_blank">Blog</a>
								</li>
								<li>
									<a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
								</li> -->
							</ul>
						</nav>
						<div class="credits ml-auto">
							<!-- <span class="copyright"> ©
								<script> document.write(new Date().getFullYear()) </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
							</span> -->
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<!--   Core JS Files   -->
	<script th:src="@{/resources/assets/js/core/jquery.min.js}"></script>
	<script th:src="@{/resources/assets/js/core/popper.min.js}"></script>
	<script th:src="@{/resources/assets/js/core/bootstrap.min.js}"></script>
	<script
		th:src="@{/resources/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
	<script th:src="@{/resources/assets/js/plugins/moment.min.js}"></script>
	<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-switch.js}"></script>
	<!--  Plugin for Sweet Alert -->
	<script th:src="@{/resources/assets/js/plugins/sweetalert2.min.js}"></script>
	<!-- Forms Validations Plugin -->
	<script th:src="@{/resources/assets/js/plugins/jquery.validate.min.js}"></script>
	<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
	<script
		th:src="@{/resources/assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
	<!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
	<script
		th:src="@{/resources/assets/js/plugins/bootstrap-selectpicker.js}"></script>
	<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
	<script
		th:src="@{/resources/assets/js/plugins/bootstrap-datetimepicker.js}"></script>
	<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
	<script
		th:src="@{/resources/assets/js/plugins/jquery.dataTables.min.js}"></script>
	<!--  Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-tagsinput.js}"></script>
	<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
	<script th:src="@{/resources/assets/js/plugins/jasny-bootstrap.min.js}"></script>
	<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
	<script th:src="@{/resources/assets/js/plugins/fullcalendar.min.js}"></script>
	<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
	<script th:src="@{/resources/assets/js/plugins/jquery-jvectormap.js}"></script>
	<!--  Plugin for the Bootstrap Table -->
	<script th:src="@{/resources/assets/js/plugins/nouislider.min.js}"></script>
	<!--  Google Maps Plugin    -->
	<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
	<!-- Chart JS -->
	<script th:src="@{/resources/assets/js/plugins/chartjs.min.js}"></script>
	<!--  Notifications Plugin    -->
	<script th:src="@{/resources/assets/js/plugins/bootstrap-notify.js}"></script>
	<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
	<script th:src="@{/resources/assets/js/paper-dashboard.min.js?v=2.0.1}"
		type="text/javascript"></script>
	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script th:src="@{/resources/assets/demo/demo.js}"></script>
	<script th:src="@{/resources/assets/build/toastr.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"
		type="text/javascript"></script>
	<!-- Paper Dashboard DEMO methods, don't include it in your project! 
  <script th:src="@{/assets/demo/demo.js}"></script>
  -->
	<script>
	// <![CDATA[
		
	var id= location.search;
	var res = id.split("=");
	console.log(parametroURL("id"));
	console.log(parametroURL("type"));
	var b=parametroURL("type");
	var a = parseInt(res[1]);
	var toasts = [];
	if(a>0){
		toastr.options = {
		  "closeButton": false,
		  "debug": false,
		  "newestOnTop": false,
		  "progressBar": false,
		  "positionClass": "toast-top-full-width",
		  "preventDuplicates": false,
		  "onclick": null,
		  "showDuration": "300",
		  "hideDuration": "1000",
		  "timeOut": "5000",
		  "extendedTimeOut": "1000",
		  "showEasing": "swing",
		  "hideEasing": "linear",
		  "showMethod": "fadeIn",
		  "hideMethod": "fadeOut"
		}
		if(b==1)
			 toasts =  [new Toast('success', 'toast-top-full-width', '<b>De lujo</b>, Marca guardada.')];
		else
			if(b==0)
				toasts =  [new Toast('success', 'toast-top-full-width', 'Aqui no paso nada, <b>Marca borrada.</b>')];
			else
			 	toasts =  [new Toast('warning', 'toast-top-full-width', 'Uhmmm, algo no anda bien, <b>Intentalo más tarde.</b>')];
		//alert();
		 window.setTimeout(function () { showToast(); }, 1);
	}
	//swal("Guardado Exitoso!", "Departamento id "+a+" modificado correctamente.", "success");
		//swal("Borrado Exitoso!", "Departamento id "+a+" borrado correctamente.", "danger");	
	console.log(res[1]);
	<!--/catalogoTiendas/list -->
	
	   function Toast(type, css, msg) {
	        this.type = type;
	        this.css = css;
	        this.msg = msg;
	    }
	   
	   function showToast() {
	
		   var t = toasts[0];
	        toastr.options.positionClass = t.css;
	        toastr[t.type](t.msg);

	 
	
	    }
	   
	function parametroURL(_par) {
		  var _p = null;
		  if (location.search) location.search.substr(1).split("&").forEach(function(pllv) {
		    var s = pllv.split("="), //separamos llave/valor
		      ll = s[0],
		      v = s[1] && decodeURIComponent(s[1]); //valor hacemos encode para prevenir url encode
		    if (ll == _par) { //solo nos interesa si es el nombre del parametro a buscar
		      if(_p==null){
		      _p=v; //si es nula, quiere decir que no tiene valor, solo textual
		      }else if(Array.isArray(_p)){
		      _p.push(v); //si ya es arreglo, agregamos este valor
		      }else{
		      _p=[_p,v]; //si no es arreglo, lo convertimos y agregamos este valor
		      }
		    }
		  });
		  return _p;
		}
	// ]]>
	<!--/catalogoTiendas/list -->
		$(document).ready(
				function() {
					$('#datatable').DataTable(
							{
								"pagingType" : "full_numbers",
								"lengthMenu" : [ [ 10, 25, 50, -1 ],
										[ 10, 25, 50, "All" ] ],
								responsive : true,
								language : {
									search : "_INPUT_",
									searchPlaceholder : "Search records",
								}

							});

					var table = $('#datatable').DataTable();

					// Edit record
					table.on('click', '.edit', function() {
						$tr = $(this).closest('tr');

						var data = table.row($tr).data();
						alert('You press on Row: ' + data[0] + ' ' + data[1]
								+ ' ' + data[2] + '\'s row.');
					});

					// Delete a record
					table.on('click', '.remove', function(e) {
						$tr = $(this).closest('tr');
						table.row($tr).remove().draw();
						e.preventDefault();
					});

					//Like record
					table.on('click', '.like', function() {
						alert('You clicked on Like button');
					});
					
					//Table 2
					$('#datatable2').DataTable(
							{
								"pagingType" : "full_numbers",
								"lengthMenu" : [ [ 10, 25, 50, -1 ],
										[ 10, 25, 50, "All" ] ],
								responsive : true,
								language : {
									search : "_INPUT_",
									searchPlaceholder : "Search records",
								}

							});

					var table2 = $('#datatable2').DataTable();

					// Edit record
					table2.on('click', '.edit', function() {
						$tr = $(this).closest('tr');

						var data = table2.row($tr).data();
						alert('You press on Row: ' + data[0] + ' ' + data[1]
								+ ' ' + data[2] + '\'s row.');
					});

					// Delete a record
					table2.on('click', '.remove', function(e) {
						$tr = $(this).closest('tr');
						table2.row($tr).remove().draw();
						e.preventDefault();
					});

					//Like record
					table2.on('click', '.like', function() {
						alert('You clicked on Like button');
					});
				}
		);
	</script>
</body>

</html>
<script th:src="@{/resources/assets/build/toastr.min.js}"></script>
<script
	th:replace="administrador/fragments/form-reporte-problema::script-reporte-problema"></script>
<script th:replace="administrador/fragments/toast::toast-config"></script>