
.icon-shingshing-dashboard-marcas_productos-icon:before { content: '\e800'; } /* '' */
.icon-shingshing-dashboard-marcas_finanzas-icon:before { content: '\e801'; } /* '' */
.icon-shingshing-dashboard-marcas_general-icon:before { content: '\e802'; } /* '' */
.icon-shingshing-dashboard-marcas_cuentas-icon:before { content: '\e803'; } /* '' */